---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-08-09 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Evergreen","SBQQ__SubscriptionTerm__c":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=483/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t7e000009BU6cAAG"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t7e000009BU6cAAG","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=484/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s7e000002eLFEAA2"},"Id":"01s7e000002eLFEAA2"}]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009BU6cAAG","IsActive":true,"UnitPrice":120.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=473/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IstO7AAJ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u7e00000IstO7AAJ","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-09 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=467/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001j13KLAAY"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001j13KLAAY","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-08-09 00:00:00 UTC","CloseDate":"2023-08-09","StageName":"Closed/Won","AccountId":"0017e00001j13KLAAY"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=468/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0067e00000OEZU4AAP"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0067e00000OEZU4AAP","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"sf_raise_error_evergreen@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=480/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0037e00001pPJPlAAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0037e00001pPJPlAAO","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0067e00000OEZU4AAP","SBQQ__PrimaryContact__c":"0037e00001pPJPlAAO","SBQQ__PricebookId__c":"01s7e000002eLFEAA2","SBQQ__StartDate__c":"2023-08-09","SBQQ__SubscriptionTerm__c":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=481/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z7e00000BDMSNAA5","success":true,"errors":[]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z7e00000BDMSNAA5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDMSNAA5\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5\"},\"Id\":\"a0z7e00000BDMSNAA5\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01485\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j13KLAAY\",\"SBQQ__SubscriptionTerm__c\":1,\"SBQQ__ExpirationDate__c\":\"2023-09-08\",\"SBQQ__StartDate__c\":\"2023-08-09\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s7e000002eLFEAA2\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0067e00000OEZU4AAP\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v58.0/sobjects/Account/0017e00001j13KLAAY\"},\"Id\":\"0017e00001j13KLAAY\",\"Name\":\"REST
        Account  2023-08-09 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v58.0/sobjects/Opportunity/0067e00000OEZU4AAP\"},\"Id\":\"0067e00000OEZU4AAP\",\"SBQQ__PrimaryQuote__c\":\"a0z7e00000BDMSNAA5\",\"AccountId\":\"0017e00001j13KLAAY\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"currencyDecimalScale\":2,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t7e000009BU6cAAG
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s7e000002eLFEAA2\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v58.0/sobjects/Product2/01t7e000009BU6cAAG\"},\"Id\":\"01t7e000009BU6cAAG\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"REST
        Product2  2023-08-09 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionTerm__c\":1,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Evergreen\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IstO7AAJ\"},\"Product2Id\":\"01t7e000009BU6cAAG\",\"Id\":\"01u7e00000IstO7AAJ\",\"Pricebook2Id\":\"01s7e000002eLFEAA2\",\"UnitPrice\":120.00,\"IsActive\":true,\"CurrencyIsoCode\":\"USD\"}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"USD
        \",\"currencyCode\":\"USD\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDMSNAA5\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5\"},\"Id\":\"a0z7e00000BDMSNAA5\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01485\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j13KLAAY\",\"SBQQ__SubscriptionTerm__c\":1,[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDMSNAA5\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/se[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDMSNAA5\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5\"},\"Id\":\"a0z7e00000BDMSNAA5\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01485\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j13KLAAY\",\"SBQQ__SubscriptionTerm__c\":1[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=485/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z7e00000BDMSNAA5/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=484/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8017e000000nUJLAA2"},"Id":"8017e000000nUJLAA2","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001j13KLAAY","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OEZU4AAP","EffectiveDate":"2023-08-09","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","CurrencyIsoCode":"USD","OrderNumber":"00001565","TotalAmount":120.0,"CreatedDate":"2023-08-09T16:59:28.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-09T16:59:29.000+0000","LastModifiedById":"0057e00000VZBcyAAH","IsDeleted":false,"SystemModstamp":"2023-08-09T16:59:29.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z7e00000BDMSNAA5","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":0.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nUJLAA2
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=467/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nUJLAA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=486/5000000
      Last-Modified:
      - Wed, 09 Aug 2023 16:59:30 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nUJLAA2"},"Id":"8017e000000nUJLAA2","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001j13KLAAY","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OEZU4AAP","EffectiveDate":"2023-08-09","EndDate":null,"IsReduc[...]
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id%20FROM%20Contract%20WHERE%20SBQQ__Order__c%20=%20%278017e000000nUJLAA2%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=474/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contract","url":"/services/data/v58.0/sobjects/Contract/8007e000001iDziAAE"},"Id":"8007e000001iDziAAE"}]}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contract/8007e000001iDziAAE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=475/5000000
      Last-Modified:
      - Wed, 09 Aug 2023 16:59:33 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Contract","url":"/services/data/v58.0/sobjects/Contract/8007e000001iDziAAE"},"Id":"8007e000001iDziAAE","AccountId":"0017e00001j13KLAAY","CurrencyIsoCode":"USD","Pricebook2Id":null,"OwnerExpirationNotice":null,"StartDate":"2023-08-09","EndDate":null,"BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ContractTerm":null,"OwnerId":"0057e00000VZBcyAAH","Status":"Draft","CompanySignedId":null,"CompanySignedDate":null,"CustomerSignedId":null,"CustomerSignedTitle":null,"CustomerSignedDate":null,"SpecialTerms":null,"ActivatedById":null,"ActivatedDate":null,"StatusCode":"Draft","Description":null,"IsDeleted":false,"ContractNumber":"00000402","LastApprovedDate":null,"CreatedDate":"2023-08-09T16:59:32.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-09T16:59:33.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-09T16:59:33.000+0000","LastActivityDate":null,"LastViewedDate":null,"LastReferencedDate":null,"SBQQ__AmendmentOpportunityRecordTypeId__c":null,"SBQQ__AmendmentOpportunityStage__c":null,"SBQQ__AmendmentOwner__c":null,"SBQQ__AmendmentPricebookId__c":null,"SBQQ__AmendmentRenewalBehavior__c":"Latest
        End Date","SBQQ__AmendmentStartDate__c":null,"SBQQ__DefaultRenewalContactRoles__c":true,"SBQQ__DefaultRenewalPartners__c":true,"SBQQ__DisableAmendmentCoTerm__c":false,"SBQQ__Evergreen__c":true,"SBQQ__ExpirationDate__c":null,"SBQQ__MDQRenewalBehavior__c":null,"SBQQ__MasterContract__c":false,"SBQQ__Opportunity__c":"0067e00000OEZU4AAP","SBQQ__Order__c":"8017e000000nUJLAA2","SBQQ__PreserveBundleStructureUponRenewals__c":true,"SBQQ__Quote__c":"a0z7e00000BDMSNAA5","SBQQ__RenewalForecast__c":false,"SBQQ__RenewalOpportunityRecordTypeId__c":null,"SBQQ__RenewalOpportunityStage__c":null,"SBQQ__RenewalOpportunity__c":null,"SBQQ__RenewalOwner__c":null,"SBQQ__RenewalPricebookId__c":null,"SBQQ__RenewalQuoted__c":false,"SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__SubscriptionQuantitiesCombined__c":false,"SBQQ__ActiveContract__c":0.0,"SBQQ__OpportunityPricebookId__c":null}'
  recorded_at: Wed, 09 Aug 2023 00:00:00 GMT
[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ContractManipulationAPI.ContractAmender&uid=8007e000001iDziAAE
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json[...]
[...]
