---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-01 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6853/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001iZvz2AAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001iZvz2AAC","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account/0017e00001iZvz2AAC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6850/5000000
      Etag:
      - '"gTI7lF2oYMlDxM+gTW1a62nzqxfxxihRqAygUNh9DPs=--gzip"'
      Last-Modified:
      - Tue, 01 Aug 2023 18:40:35 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0017e00001iZvz2AAC"},"Id":"0017e00001iZvz2AAC","IsDeleted":false,"MasterRecordId":null,"Name":"REST
        Account  2023-08-01 00:00:00 UTC","Type":null,"ParentId":null,"BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Phone":null,"Fax":null,"AccountNumber":null,"Website":null,"PhotoUrl":"/services/images/photo/0017e00001iZvz2AAC","Sic":null,"Industry":null,"AnnualRevenue":null,"NumberOfEmployees":null,"Ownership":null,"TickerSymbol":null,"Description":null,"Rating":null,"Site":null,"OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T18:40:35.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T18:40:35.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T18:40:35.000+0000","LastActivityDate":null,"LastViewedDate":"2023-08-01T18:40:35.000+0000","LastReferencedDate":"2023-08-01T18:40:35.000+0000","Jigsaw":null,"JigsawCompanyId":null,"CleanStatus":"Pending","AccountSource":null,"DunsNumber":null,"Tradestyle":null,"NaicsCode":null,"NaicsDesc":null,"YearStarted":null,"SicDesc":null,"DandbCompanyId":null,"OperatingHoursId":null,"CustomerPriority__c":null,"SLA__c":null,"Active__c":null,"NumberofLocations__c":null,"UpsellOpportunity__c":null,"SLASerialNumber__c":null,"SLAExpirationDate__c":null,"SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__DefaultOpportunity__c":null,"SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__PriceHoldEnd__c":null,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","SBQQ__CoTerminationEvent__c":null,"Stripe_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1690848000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 37cf22c9-1354-4133-acf0-1f57f4e6e9d5
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 37cf22c9-1354-4133-acf0-1f57f4e6e9d5
      Original-Request:
      - req_2hGy7X45OSQwhB
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1NaNUmIsgf92XbAOdvZtIUca",
          "object": "test_helpers.test_clock",
          "created": 1690915236,
          "deletes_after": 1693507236,
          "frozen_time": 1690848000,
          "livemode": false,
          "name": null,
          "status": "ready"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=REST+Account++2023-08-01+00%3A00%3A00+UTC&metadata[salesforce_account_id]=0017e00001iZvwuAAC&metadata[salesforce_account_link]=https%3A%2F%2Fqapackagetest2-dev-ed.develop.my.salesforce.com%2F0017e00001iZvwuAAC&test_clock=clock_1NaNUmIsgf92XbAOdvZtIUca
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 34b33ba1-cb5c-4bb8-a32c-fe79d37cd75f
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 34b33ba1-cb5c-4bb8-a32c-fe79d37cd75f
      Original-Request:
      - req_3GqbFZyAfma0RK
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ON7kW8zcV2Rr5y",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1690848000,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "A5137048",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "salesforce_account_id": "0017e00001iZvz2AAC",
            "salesforce_account_link": "https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/0017e00001iZvz2AAC"
          },
          "name": "REST Account  2023-08-01 00:00:00 UTC",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": "clock_1NaNUmIsgf92XbAOdvZtIUca"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZvz2AAC-0017e00001iZvz2AAC
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZvz2AAC","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZvz2AAC","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Sync
        Successful, created Stripe Customer Object with ID: cus_ON7kW8zcV2Rr5y","Resolution_Status__c":"Success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6850/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W7e000002GrKhEAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W7e000002GrKhEAK","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ON7kW8zcV2Rr5y
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:[...]
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZvz2AAC-0017e00001iZvz2AAC
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZvz2AAC","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZvz2AAC","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Created
        Stripe Customer with Id: cus_ON7kW8zcV2Rr5y","Resolution_Status__c":"Success","Resolution_Documentation_Link__c":"https://stripe.com/docs/connectors/salesforce-cpq/overview","Stripe_Request_Dashboard_Link__c":"https://dashboard.stripe.com/test/logs/req_3GqbFZyAfma0RK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=168/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W8N000000OCuSUAW"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W8N000000OCuSUAW","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
