---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-01 00:00:00 UTC","Name":"Awesome Test
        Account Name","Description":"Awesome Test Account Description"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6933/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001iZwDKAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001iZwDKAA0","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account/0017e00001iZwDKAA0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6935/5000000
      Etag:
      - '"gTI7lF2oYMlDxM+gTW1a62nzqxfxxihRqAygUNh9DPs=--gzip"'
      Last-Modified:
      - Tue, 01 Aug 2023 18:51:22 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0017e00001iZwDKAA0"},"Id":"0017e00001iZwDKAA0","IsDeleted":false,"MasterRecordId":null,"Name":"Awesome
        Test Account Name","Type":null,"ParentId":null,"BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Phone":null,"Fax":null,"AccountNumber":null,"Website":null,"PhotoUrl":"/services/images/photo/0017e00001iZwDKAA0","Sic":null,"Industry":null,"AnnualRevenue":null,"NumberOfEmployees":null,"Ownership":null,"TickerSymbol":null,"Description":"Awesome
        Test Account Description","Rating":null,"Site":null,"OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T18:51:22.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T18:51:22.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T18:51:22.000+0000","LastActivityDate":null,"LastViewedDate":"2023-08-01T18:51:22.000+0000","LastReferencedDate":"2023-08-01T18:51:22.000+0000","Jigsaw":null,"JigsawCompanyId":null,"CleanStatus":"Pending","AccountSource":null,"DunsNumber":null,"Tradestyle":null,"NaicsCode":null,"NaicsDesc":null,"YearStarted":null,"SicDesc":null,"DandbCompanyId":null,"OperatingHoursId":null,"CustomerPriority__c":null,"SLA__c":null,"Active__c":null,"NumberofLocations__c":null,"UpsellOpportunity__c":null,"SLASerialNumber__c":null,"SLAExpirationDate__c":null,"SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__DefaultOpportunity__c":null,"SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__PriceHoldEnd__c":null,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","SBQQ__CoTerminationEvent__c":null,"Stripe_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Awesome+Test+Account+Name&description=Awesome+Test+Account+Description&metadata[salesforce_account_id]=0017e00001iZwDKAA0&metadata[salesforce_account_link]=https%3A%2F%2Fability-innovation-7335-dev-ed.scratch.my.salesforce.com%2F0017e00001iZwDKAA0&metadata[sf_mapped_metadata_field_1]=Awesome+Test+Account+Name&metadata[sf_mapped_metadata_field_2]=Awesome+Test+Account+Description
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 25dc292c-cf5c-4016-99e4-c2eac66de7a8
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 25dc292c-cf5c-4016-99e4-c2eac66de7a8
      Original-Request:
      - req_fPNtJINlVWPUpS
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ON7vA9cHkZzE58",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1690915883,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Awesome Test Account Description",
          "discount": null,
          "email": null,
          "invoice_prefix": "D95A22C0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "salesforce_account_id": "0017e00001iZwDKAA0",
            "salesforce_account_link": "https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/0017e00001iZwDKAA0",
            "sf_mapped_metadata_field_1": "Awesome Test Account Name",
            "sf_mapped_metadata_field_2": "Awesome Test Account Description"
          },
          "name": "Awesome Test Account Name",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZwDKAA0-0017e00001iZwDKAA0
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZwDKAA0","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZwDKAA0","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Sync
        Successful, created Stripe Customer Object with ID: cus_ON7vA9cHkZzE58","Resolution_Status__c":"Success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6933/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W7e000002GrLBEA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W7e000002GrLBEA0","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ON7vA9cHkZzE58
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:[...]
[...]
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZwDKAA0-0017e00001iZwDKAA0
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZwDKAA0","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZwDKAA0","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Created
        Stripe Customer with Id: cus_ON7vA9cHkZzE58","Resolution_Status__c":"Success","Resolution_Documentation_Link__c":"https://stripe.com/docs/connectors/salesforce-cpq/overview","Stripe_Request_Dashboard_Link__c":"https://dashboard.stripe.com/test/logs/req_fPNtJINlVWPUpS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=169/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W8N000000OCuNUAW"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W8N000000OCuNUAW","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
