---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-01 00:00:00 UTC","Name":"Sales force","Phone":"1231231234","Description":"A
        CRM company","ShippingStreet":"500 Westover Drive","ShippingCity":"Sanford","ShippingState":"North
        Carolina","ShippingPostalCode":"27330","ShippingCountry":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6931/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001iZwO0AAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001iZwO0AAK","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account/0017e00001iZwO0AAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6932/5000000
      Etag:
      - '"gTI7lF2oYMlDxM+gTW1a62nzqxfxxihRqAygUNh9DPs=--gzip"'
      Last-Modified:
      - Tue, 01 Aug 2023 18:51:14 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0017e00001iZwO0AAK"},"Id":"0017e00001iZwO0AAK","IsDeleted":false,"MasterRecordId":null,"Name":"Sales
        force","Type":null,"ParentId":null,"BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":"500
        Westover Drive","ShippingCity":"Sanford","ShippingState":"North Carolina","ShippingPostalCode":"27330","ShippingCountry":"US","ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":{"city":"Sanford","country":"US","geocodeAccuracy":null,"latitude":null,"longitude":null,"postalCode":"27330","state":"North
        Carolina","street":"500 Westover Drive"},"Phone":"1231231234","Fax":null,"AccountNumber":null,"Website":null,"PhotoUrl":"/services/images/photo/0017e00001iZwO0AAK","Sic":null,"Industry":null,"AnnualRevenue":null,"NumberOfEmployees":null,"Ownership":null,"TickerSymbol":null,"Description":"A
        CRM company","Rating":null,"Site":null,"OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T18:51:14.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T18:51:14.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T18:51:14.000+0000","LastActivityDate":null,"LastViewedDate":"2023-08-01T18:51:14.000+0000","LastReferencedDate":"2023-08-01T18:51:14.000+0000","Jigsaw":null,"JigsawCompanyId":null,"CleanStatus":"Pending","AccountSource":null,"DunsNumber":null,"Tradestyle":null,"NaicsCode":null,"NaicsDesc":null,"YearStarted":null,"SicDesc":null,"DandbCompanyId":null,"OperatingHoursId":null,"CustomerPriority__c":null,"SLA__c":null,"Active__c":null,"NumberofLocations__c":null,"UpsellOpportunity__c":null,"SLASerialNumber__c":null,"SLAExpirationDate__c":null,"SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__DefaultOpportunity__c":null,"SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__PriceHoldEnd__c":null,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","SBQQ__CoTerminationEvent__c":null,"Stripe_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=Sales+force&phone=1231231234&description=A+CRM+company&shipping[name]=Sales+force&shipping[phone]=1231231234&shipping[address][line1]=500+Westover+Drive&shipping[address][city]=Sanford&shipping[address][state]=North+Carolina&shipping[address][postal_code]=27330&shipping[address][country]=US&metadata[salesforce_account_id]=0017e00001iZwO0AAK&metadata[salesforce_account_link]=https%3A%2F%2Fability-innovation-7335-dev-ed.scratch.my.salesforce.com%2F0017e00001iZwO0AAK
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1742d2b4-e27d-455b-a0f6-5da8f29b59f4
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1742d2b4-e27d-455b-a0f6-5da8f29b59f4
      Original-Request:
      - req_bXxZn9xOVywptT
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ON7utCvrfHBHUj",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1690915874,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "A CRM company",
          "discount": null,
          "email": null,
          "invoice_prefix": "A01ECC0D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "salesforce_account_id": "0017e00001iZwO0AAK",
            "salesforce_account_link": "https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/0017e00001iZwO0AAK"
          },
          "name": "Sales force",
          "next_invoice_sequence": 1,
          "phone": "1231231234",
          "preferred_locales": [],
          "shipping": {
            "address": {
              "city": "Sanford",
              "country": "US",
              "line1": "500 Westover Drive",
              "line2": null,
              "postal_code": "27330",
              "state": "North Carolina"
            },
            "name": "Sales force",
            "phone": "1231231234"
          },
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZwO0AAK-0017e00001iZwO0AAK
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZwO0AAK","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZwO0AAK","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Sync
        Successful, created Stripe Customer Object with ID: cus_ON7utCvrfHBHUj","Resolution_Status__c":"Success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6933/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W7e000002GrL1EAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W7e000002GrL1EAK","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_ON7utCvrfHBHUj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:[...]
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/0017e00001iZwO0AAK-0017e00001iZwO0AAK
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"0017e00001iZwO0AAK","Primary_Object_Type__c":"Account","Secondary_Record_ID__c":"0017e00001iZwO0AAK","Secondary_Object_Type__c":"Account","Resolution_Message__c":"Created
        Stripe Customer with Id: cus_ON7utCvrfHBHUj","Resolution_Status__c":"Success","Resolution_Documentation_Link__c":"https://stripe.com/docs/connectors/salesforce-cpq/overview","Stripe_Request_Dashboard_Link__c":"https://dashboard.stripe.com/test/logs/req_bXxZn9xOVywptT"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=168/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W8N000000OCoVUAW"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W8N000000OCoVUAW","success":true,"errors":[],"created":true}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
