---
http_interactions:
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-09-27 00:00:00 UTC","Description":"test@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=477/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/001DR00001TQV4eYAH"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"001DR00001TQV4eYAH","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-09-27 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionType__c":""}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=478/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01tDR00000GJRAFYA5"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01tDR00000GJRAFYA5","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: get
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=481/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01sDR000008j2m0YAA"},"Id":"01sDR000008j2m0YAA"}]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01sDR000008j2m0YAA","Product2Id":"01tDR00000GJRAFYA5","IsActive":true,"UnitPrice":100.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=479/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01uDR00000Kn6AYYAZ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01uDR00000Kn6AYYAZ","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-09-27 00:00:00 UTC","CloseDate":"2023-09-27","StageName":"Closed/Won","AccountId":"001DR00001TQV4eYAH"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=479/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/006DR00000Ih4ovYAB"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"006DR00000Ih4ovYAB","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"integrates_invoice_order@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=480/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/003DR00000pfWnYYAU"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"003DR00000pfWnYYAU","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"006DR00000Ih4ovYAB","SBQQ__PrimaryContact__c":"003DR00000pfWnYYAU","SBQQ__PricebookId__c":"01sDR000008j2m0YAA"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=481/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0zDR000002iofpYAA","success":true,"errors":[]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0zDR000002iofpYAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0zDR000002iofpYAA\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA\"},\"Id\":\"a0zDR000002iofpYAA\",\"Name\":\"Q-00017\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"001DR00001TQV4eYAH\",\"SBQQ__ExpirationDate__c\":\"2023-10-27\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01sDR000008j2m0YAA\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"006DR00000Ih4ovYAB\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v58.0/sobjects/Account/001DR00001TQV4eYAH\"},\"Id\":\"001DR00001TQV4eYAH\",\"Name\":\"REST
        Account  2023-09-27 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v58.0/sobjects/Opportunity/006DR00000Ih4ovYAB\"},\"Id\":\"006DR00000Ih4ovYAB\",\"SBQQ__PrimaryQuote__c\":\"a0zDR000002iofpYAA\",\"AccountId\":\"001DR00001TQV4eYAH\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__SubscriptionTerm__c\":null,\"SBQQ__StartDate__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01tDR00000GJRAFYA5
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01sDR000008j2m0YAA\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v58.0/sobjects/Product2/01tDR00000GJRAFYA5\"},\"Id\":\"01tDR00000GJRAFYA5\",\"Name\":\"REST
        Product2  2023-09-27 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v58.0/sobjects/PricebookEntry/01uDR00000Kn6AYYAZ\"},\"Product2Id\":\"01tDR00000GJRAFYA5\",\"Id\":\"01uDR00000Kn6AYYAZ\",\"Pricebook2Id\":\"01sDR000008j2m0YAA\",\"UnitPrice\":100.00,\"IsActive\":true}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"$\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0zDR000002iofpYAA\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA\"},\"Id\":\"a0zDR000002iofpYAA\",\"Name\":\"Q-00017\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"001DR00001TQV4eYAH\",\"SBQQ__ExpirationDate__c\":\"2023-10-27\",\"SBQQ__NetAmount[...]
- request:
    method: patch
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0zDR000002iofpYAA\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/serv[...]
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0zDR000002iofpYAA\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA\"},\"Id\":\"a0zDR000002iofpYAA\",\"Name\":\"Q-00017\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"001DR00001TQV4eYAH\",\"SBQQ__ExpirationDate__c\":\"2023-10-27\",\"SBQQ__NetAmoun[...]
- request:
    method: patch
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=483/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: get
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0zDR000002iofpYAA/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=485/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/801DR000001xndpYAA"},"Id":"801DR000001xndpYAA","OwnerId":"005DR00000Fqv4BYAR","ContractId":null,"AccountId":"001DR00001TQV4eYAH","Pricebook2Id":"01sDR000008j2m0YAA","OriginalOrderId":null,"OpportunityId":"006DR00000Ih4ovYAB","EffectiveDate":"2023-09-27","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","OrderNumber":"00000116","TotalAmount":500.0,"CreatedDate":"2023-09-27T17:30:27.000+0000","CreatedById":"005DR00000Fqv4BYAR","LastModifiedDate":"2023-09-27T17:30:34.000+0000","LastModifiedById":"005DR00000Fqv4BYAR","IsDeleted":false,"SystemModstamp":"2023-09-27T17:30:34.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0zDR000002iofpYAA","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":500.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/801DR000001xndpYAA
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=483/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: get
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/801DR000001xndpYAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=487/5000000
      Last-Modified:
      - Wed, 27 Sep 2023 17:30:36 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/801DR000001xndpYAA"},"Id":"801DR000001xndpYAA","OwnerId":"005DR00000Fqv4BYAR","ContractId":null,"AccountId":"001DR00001TQV4eYAH","Pricebook2Id":"01sDR000008j2m0YAA","OriginalOrderId":null,"OpportunityId":"006DR00000Ih4ovYAB","EffectiveDate":"2023-09-27","EndDate":null,"IsReduc[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/STRIPE_MERCHANT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MHBTOC9fP1FVBtd
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_1MHBTOC9fP1FVBtd",
          "object": "account",
          "capabilities": {
            "acss_debit_payments": "active",
            "affirm_payments": "active",
            "afterpay_clearpay_payments": "active",
            "bancontact_payments": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "eps_payments": "active",
            "giropay_payments": "active",
            "ideal_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "p24_payments": "active",
            "sepa_debit_payments": "active",
            "sofort_payments": "active",
            "transfers": "active",
            "us_bank_account_ach_payments": "active"
          },
          "charges_enabled": true,
          "country": "US",
          "default_currency": "usd",
          "details_submitted": true,
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "payouts_enabled": false,
          "requirements": {
            "alternatives": [],
            "current_deadline": 1682643545,
            "currently_due": [
              "company.tax_id"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [
              {
                "code": "verification_failed_tax_id_not_issued",
                "reason": "The tax ID on your account was not recognized by the IRS. Please refer to this support article on newly-issued tax ID numbers: https://support.stripe.com/questions/newly-issued-us-tax-id-number-tin-not-verifying",
                "requirement": "company.tax_id"
              }
            ],
            "eventually_due": [
              "company.tax_id"
            ],
            "past_due": [
              "company.tax_id"
            ],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "statement_descriptor_prefix": "CI",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "StripeForce CI",
              "timezone": "America/Denver"
            },
            "payments": {
              "statement_descriptor": "STRIPEFORCECI",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "sepa_debit_payments": {}
          },
          "type": "standard"
        }
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: get
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v58.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=485/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":"/services/data/v58.0/metadata","eclair":"/services/data/v58.0/eclair","folders":"/services/data/v58.0/folders","jsonxform":"/services/data/v58.0/jsonxform","appMenu":"/services/data/v58.0/appMenu","iot":"/services/data/v58.0/iot","analytics":"/services/data/v58.0/analytics","smartdatadiscovery":"/services/data/v58.0/smartdatadiscovery","composite":"/services/data/v58.0/composite","parameterizedSearch":"/services/data/v58.0/parameterizedSearch","fingerprint":"/services/data/v58.0/fingerprint","domino":"/services/data/v58.0/domino","serviceTemplates":"/services/data/v58.0/serviceTemplates","recent":"/services/data/v58.0/recent","dedupe":"/services/data/v58.0/dedupe","async-queries":"/services/data/v58.0/async-queries","query":"/services/data/v58.0/query","ai":"/services/data/v58.0/ai","consent":"/services/data/v58.0/consent","compactLayouts":"/services/data/v58.0/compactLayouts","knowledgeManagement":"/services/data/v58.0/knowledgeManagement","actions":"/services/data/v58.0/actions","support":"/services/data/v58.0/support","tooling":"/services/data/v58.0/tooling","prechatForms":"/services/data/v58.0/prechatForms","contact-tracing":"/services/data/v58.0/contact-tracing","chatter":"/services/data/v58.0/chatter","payments":"/services/data/v58.0/payments","tabs":"/services/data/v58.0/tabs","quickActions":"/services/data/v58.0/quickActions","queryAll":"/services/data/v58.0/queryAll","commerce":"/services/data/v58.0/commerce","wave":"/services/data/v58.0/wave","search":"/services/data/v58.0/search","identity":"https://test.salesforce.com/id/00DDR000001Mu8U2AS/005DR00000Fqv4BYAR","theme":"/services/data/v58.0/theme","nouns":"/services/data/v58.0/nouns","event":"/services/data/v58.0/event","connect":"/services/data/v58.0/connect","licensing":"/services/data/v58.0/licensing","limits":"/services/data/v58.0/limits","process":"/services/data/v58.0/process","jobs":"/services/data/v58.0/jobs","match":"/services/data/v58.0/match","localizedvalue":"/services/data/v58.0/localizedvalue","mobile":"/services/data/v58.0/mobile","emailConnect":"/services/data/v58.0/emailConnect","tokenizer":"/services/data/v58.0/tokenizer","sobjects":"/services/data/v58.0/sobjects"}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
- request:
    method: get
    uri: https://test.salesforce.com/id/00DDR000001Mu8U2AS/005DR00000Fqv4BYAR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://test.salesforce.com/id/00DDR000001Mu8U2AS/005DR00000Fqv4BYAR","asserted_user":true,"user_id":"005DR00000Fqv4BYAR","organization_id":"00DDR000001Mu8U2AS","username":"test-sruajfjoucbt@example.com","nick_name":"test-sruajfjoucbt","display_name":"User
        User","email":"pbo+billing-scratch-admin@stripe.com","email_verified":false,"first_name":"User","last_name":"User","timezone":"America/Los_Angeles","photos":{"picture":"https://force-nosoftware-1551-dev-ed.scratch.file.force.com/profilephoto/005/F","thumbnail":"https://force-nosoftware-1551-dev-ed.scratch.file.force.com/profilephoto/005/T"},"addr_street":null,"addr_city":null,"addr_state":null,"addr_country":"US","addr_zip":null,"mobile_phone":null,"mobile_phone_verified":false,"is_lightning_login_user":false,"status":{"created_date":null,"body":null},"urls":{"enterprise":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/Soap/c/{version}/00DDR000001Mu8U","metadata":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/Soap/m/{version}/00DDR000001Mu8U","partner":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/Soap/u/{version}/00DDR000001Mu8U","rest":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/","sobjects":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/sobjects/","search":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/search/","query":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/query/","recent":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/recent/","tooling_soap":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/Soap/T/{version}/00DDR000001Mu8U","tooling_rest":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/tooling/","profile":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/005DR00000Fqv4BYAR","feeds":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/chatter/feeds","groups":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/chatter/groups","users":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/chatter/users","feed_items":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/chatter/feed-items","feed_elements":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/data/v{version}/chatter/feed-elements","custom_domain":"https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com"},"active":true,"user_type":"STANDARD","language":"en_US","locale":"en_US","utcOffset":-28800000,"last_modified_date":"2023-09-22T19:15:08Z"}'
  recorded_at: Wed, 27 Sep 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://force-nosoftware-1551-dev-ed.scratch.my.salesforce.com/services/apexrest/batchApi
    body:
      encoding: UTF-8
      string: '{"order_ids":["801DR000001xndpYAA"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"attributes":{"type":"Contact","url":"/services/data/v58.0/sobjects/Contact/003DR00000pfWnYYAU"},"Id":"003DR00000pfWnYYAU","IsDeleted":false,"LastName":"Bianco","Name":"Bianco","OtherAddress":null,"MailingAddress":null,"Email":"integrates_invoice_order@example.com","OwnerId":"005DR00000Fqv4BYAR","CreatedDate":"2023-09-27T17:30:02.000+0000","CreatedById":"005DR00000Fqv4BYAR","LastModifiedDate":"2023-09-27T17:30:02.000+0000","LastModifiedById":"005DR00000Fqv4BYAR","SystemModstamp":"2023-09-27T17:30:02.000+0000","LastViewedDate":"2023-09-27T17:30:02.000+0000","LastReferencedDate":"2023-09-27T17:30:02.000+0000","IsEmailBounced":false,"PhotoUrl":"/services/images/photo/003DR00000pfWnYYAU","CleanStatus":"Pending"},{"attributes":{"type":"Opportunity","url":"/services/data/v58.0/sobjects/Opportunity/006DR00000Ih4ovYAB"},"Id":"006DR00000Ih4ovYAB","IsDeleted":false,"AccountId":"001DR00001TQV4eYAH","IsPrivate":false,"Name":"REST
[...]
