.stripe-status {
    border-radius: var(--lwc-borderRadiusLarge, .5rem);
    padding: var(--lwc-spacingMedium, 1rem);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.stripe-accounts-table {
        td,
        th,
            tr {
            font-size: medium;
        }

                td {
            vertical-align: bottom;
        }

}