.stripe-settings.stripe-is-loading {
    overflow: hidden;
    max-height: calc(100vh - 86px);    /*  Take up full height minus other elements (padding, margin. header, etc.) */ 
    margin-bottom: 0;
}

.stripe-intro-card .slds-text-longform p {
    margin-top: var(--lwc-spacingXLarge, 2rem);
    margin-bottom: var(--lwc-spacingXLarge, 2rem);
}

.stripe-intro-card .slds-text-longform .slds-button {
    padding: .25rem 2.5rem;
}

.stripe-illustration {
    width: 300px;
    height: auto;
}

.stripe-footer__sticky {
    position: sticky;
    bottom: 0;
    background: #ffffff;
    z-index: 2;
}
