---
http_interactions:
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-10-31 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Renewable","SBQQ__SubscriptionTerm__c":null,"SBQQ__BillingFrequency__c":"Annual"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=36/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t6s000004fN3sAAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t6s000004fN3sAAE","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:47 GMT
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=35/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s6s000002xdpsAAA"},"Id":"01s6s000002xdpsAAA"}]}'
  recorded_at: Tue, 31 Oct 2023 17:23:47 GMT
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s6s000002xdpsAAA","Product2Id":"01t6s000004fN3sAAE","IsActive":true,"UnitPrice":100.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=36/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u6s000006MqLqAAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u6s000006MqLqAAK","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:47 GMT
[...]
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-10-31 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=37/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0016s00000faOizAAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0016s00000faOizAAE","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:47 GMT
[...]
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-10-31 00:00:00 UTC","CloseDate":"2023-10-31","StageName":"Closed/Won","AccountId":"0016s00000faOizAAE"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=32/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0066s00000Cez1bAAB"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0066s00000Cez1bAAB","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:48 GMT
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"no_create_sub@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=33/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0036s00000WKZUXAA5"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0036s00000WKZUXAA5","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:48 GMT
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0066s00000Cez1bAAB","SBQQ__PrimaryContact__c":"0036s00000WKZUXAA5","SBQQ__PricebookId__c":"01s6s000002xdpsAAA","SBQQ__StartDate__c":"2023-05-30","SBQQ__SubscriptionTerm__c":12}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=33/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z6s00000165OBAAY","success":true,"errors":[]}'
  recorded_at: Tue, 31 Oct 2023 17:23:49 GMT
[...]
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z6s00000165OBAAY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z6s00000165OBAAY\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY\"},\"Id\":\"a0z6s00000165OBAAY\",\"Name\":\"Q-00001\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0016s00000faOizAAE\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\":\"2023-11-30\",\"SBQQ__StartDate__c\":\"2023-05-30\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s6s000002xdpsAAA\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0066s00000Cez1bAAB\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v59.0/sobjects/Account/0016s00000faOizAAE\"},\"Id\":\"0016s00000faOizAAE\",\"Name\":\"REST
        Account  2023-10-31 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v59.0/sobjects/Opportunity/0066s00000Cez1bAAB\"},\"Id\":\"0066s00000Cez1bAAB\",\"SBQQ__PrimaryQuote__c\":\"a0z6s00000165OBAAY\",\"AccountId\":\"0016s00000faOizAAE\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Tue, 31 Oct 2023 17:23:50 GMT
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t6s000004fN3sAAE
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s6s000002xdpsAAA\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v59.0/sobjects/Product2/01t6s000004fN3sAAE\"},\"Id\":\"01t6s000004fN3sAAE\",\"Name\":\"REST
        Product2  2023-10-31 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Renewable\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"SBQQ__BillingFrequency__c\":\"Annual\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v59.0/sobjects/PricebookEntry/01u6s000006MqLqAAK\"},\"Product2Id\":\"01t6s000004fN3sAAE\",\"Id\":\"01u6s000006MqLqAAK\",\"Pricebook2Id\":\"01s6s000002xdpsAAA\",\"UnitPrice\":100.00,\"IsActive\":true}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"$\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Tue, 31 Oct 2023 17:23:50 GMT
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z6s00000165OBAAY\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY\"},\"Id\":\"a0z6s00000165OBAAY\",\"Name\":\"Q-00001\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0016s00000faOizAAE\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\"[...]
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z6s00000165OBAAY\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/service[...]
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z6s00000165OBAAY\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY\"},\"Id\":\"a0z6s00000165OBAAY\",\"Name\":\"Q-00001\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0016s00000faOizAAE\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\[...]
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=39/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 31 Oct 2023 17:23:55 GMT
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z6s00000165OBAAY/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=35/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8016s000001FT2nAAG"},"Id":"8016s000001FT2nAAG","OwnerId":"0056s000006SKknAAG","ContractId":null,"AccountId":"0016s00000faOizAAE","Pricebook2Id":"01s6s000002xdpsAAA","OriginalOrderId":null,"OpportunityId":"0066s00000Cez1bAAB","EffectiveDate":"2023-05-30","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","OrderNumber":"00000101","TotalAmount":100.0,"CreatedDate":"2023-10-31T17:23:54.000+0000","CreatedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:23:55.000+0000","LastModifiedById":"0056s000006SKknAAG","IsDeleted":false,"SystemModstamp":"2023-10-31T17:23:55.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z6s00000165OBAAY","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":100.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Tue, 31 Oct 2023 17:23:55 GMT
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8016s000001FT2nAAG
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=38/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 31 Oct 2023 17:23:56 GMT
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8016s000001FT2nAAG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=38/5000000
      Last-Modified:
      - Tue, 31 Oct 2023 17:23:56 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8016s000001FT2nAAG"},"Id":"8016s000001FT2nAAG","OwnerId":"0056s000006SKknAAG","ContractId":null,"AccountId":"0016s00000faOizAAE","Pricebook2Id":"01s6s000002xdpsAAA","OriginalOrderId":null,"OpportunityId":"0066s00000Cez1bAAB","EffectiveDate":"2023-05-30","EndDate":null,"IsReduc[...]
[...]
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id%20FROM%20Contract%20WHERE%20SBQQ__Order__c%20=%20%278016s000001FT2nAAG%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=40/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contract","url":"/services/data/v58.0/sobjects/Contract/8006s0000008GjwAAE"},"Id":"8006s0000008GjwAAE"}]}'
  recorded_at: Tue, 31 Oct 2023 17:24:03 GMT
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contract/8006s0000008GjwAAE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=34/5000000
      Last-Modified:
      - Tue, 31 Oct 2023 17:24:03 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Contract","url":"/services/data/v58.0/sobjects/Contract/8006s0000008GjwAAE"},"Id":"8006s0000008GjwAAE","AccountId":"0016s00000faOizAAE","Pricebook2Id":null,"OwnerExpirationNotice":null,"StartDate":"2023-05-30","EndDate":"2024-05-29","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ContractTerm":12,"OwnerId":"0056s000006SKknAAG","Status":"Draft","CompanySignedId":null,"CompanySignedDate":null,"CustomerSignedId":null,"CustomerSignedTitle":null,"CustomerSignedDate":null,"SpecialTerms":null,"ActivatedById":null,"ActivatedDate":null,"StatusCode":"Draft","Description":null,"IsDeleted":false,"ContractNumber":"00000100","LastApprovedDate":null,"CreatedDate":"2023-10-31T17:24:02.000+0000","CreatedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:24:03.000+0000","LastModifiedById":"0056s000006SKknAAG","SystemModstamp":"2023-10-31T17:24:03.000+0000","LastActivityDate":null,"LastViewedDate":null,"LastReferencedDate":null,"SBQQ__AmendmentOpportunityRecordTypeId__c":null,"SBQQ__AmendmentOpportunityStage__c":null,"SBQQ__AmendmentOwner__c":null,"SBQQ__AmendmentPricebookId__c":null,"SBQQ__AmendmentRenewalBehavior__c":"Latest
        End Date","SBQQ__AmendmentStartDate__c":null,"SBQQ__DefaultRenewalContactRoles__c":true,"SBQQ__DefaultRenewalPartners__c":true,"SBQQ__DisableAmendmentCoTerm__c":false,"SBQQ__Evergreen__c":false,"SBQQ__ExpirationDate__c":"2024-05-29","SBQQ__MDQRenewalBehavior__c":null,"SBQQ__MasterContract__c":false,"SBQQ__Opportunity__c":"0066s00000Cez1bAAB","SBQQ__Order__c":"8016s000001FT2nAAG","SBQQ__PreserveBundleStructureUponRenewals__c":true,"SBQQ__Quote__c":"a0z6s00000165OBAAY","SBQQ__RenewalForecast__c":false,"SBQQ__RenewalOpportunityRecordTypeId__c":null,"SBQQ__RenewalOpportunityStage__c":null,"SBQQ__RenewalOpportunity__c":null,"SBQQ__RenewalOwner__c":null,"SBQQ__RenewalPricebookId__c":null,"SBQQ__RenewalQuoted__c":false,"SBQQ__RenewalTerm__c":12.0,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__SubscriptionQuantitiesCombined__c":false,"SBQQ__ActiveContract__c":0.0,"SBQQ__OpportunityPricebookId__c":null}'
  recorded_at: Tue, 31 Oct 2023 17:24:04 GMT
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ContractManipulationAPI.ContractAmender&uid=8006s0000008GjwAAE
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;char[...]
[...]
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z6s00000165OGAAY
    body:
      encoding: UTF-8
      string: '{"SBQQ__PricebookId__c":"01s6s000002xdpsAAA"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=32/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 31 Oct 2023 17:24:17 GMT
[...]
- request:
    method: get
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z6s00000165OGAAY/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=41/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
     [...]
- request:
    method: patch
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8016s000001FT2sAAG
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=37/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 31 Oct 2023 17:24:19 GMT
[...]
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/apexrest/batchApi
    body:
      encoding: UTF-8
      string: '{"order_ids":["8016s000001FT2sAAG"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"attributes":{"type":"Opportunity","url":"/services/data/v59.0/sobjects/Opportunity/0066s00000Cez1gAAB"},"Id":"0066s00000Cez1gAAB","IsDeleted":false,"AccountId":"0016s00000faOizAAE","IsPrivate":false,"Name":"Amendment
        for contract #00000100","StageName":"Prospecting","Probability":10,"CloseDate":"2023-10-31","IsClosed":false,"IsWon":false,"ForecastCategory":"Pipeline","ForecastCategoryName":"Pipeline","HasOpportunityLineItem":false,"OwnerId":"0056s000006SKknAAG","CreatedDate":"2023-10-31T17:24:08.000+0000","CreatedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:24:09.000+0000","LastModifiedById":"0056s000006SKknAAG","SystemModstamp":"2023-10-31T17:24:09.000+0000","FiscalQuarter":4,"FiscalYear":2023,"Fiscal":"2023
        4","LastViewedDate":"2023-10-31T17:24:08.000+0000","LastReferencedDate":"2023-10-31T17:24:08.000+0000","HasOpenActivity":false,"HasOverdueTask":false,"SBQQ__AmendedContract__c":"8006s0000008GjwAAE","SBQQ__Contracted__c":false,"SBQQ__CreateContractedPrices__c":false,"SBQQ__Ordered__c":false,"SBQQ__PrimaryQuote__c":"a0z6s00000165OGAAY","SBQQ__Renewal__c":false,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"attributes":{"type":"Account","url":"/services/data/v59.0/sobjects/Account/0016s00000faOizAAE"},"Id":"0016s00000faOizAAE","IsDeleted":false,"Name":"REST
        Account  2023-10-31 00:00:00 UTC","BillingAddress":null,"ShippingAddress":null,"PhotoUrl":"/services/images/photo/0016s00000faOizAAE","OwnerId":"0056s000006SKknAAG","CreatedDate":"2023-10-31T17:23:47.000+0000","CreatedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:23:47.000+0000","LastModifiedById":"0056s000006SKknAAG","SystemModstamp":"2023-10-31T17:23:47.000+0000","LastViewedDate":"2023-10-31T17:23:47.000+0000","LastReferencedDate":"2023-10-31T17:23:47.000+0000","CleanStatus":"Pending","SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"Accounts":["0016s00000faOizAAE"],"Opportunities":["0066s00000Cez1gAAB"],"SBQQ__RegularAmount__c":150.00,"SBQQ__NetAmount__c":150.00,"SBQQ__ListAmount__c":150.00,"SBQQ__CustomerAmount__c":150.00,"SBQQ__Uncalculated__c":true,"SBQQ__TotalCustomerDiscountAmount__c":0.00,"SBQQ__ExpirationDate__c":"2023-11-30","SBQQ__DaysQuoteOpen__c":0,"SBQQ__AveragePartnerDiscount__c":0.0,"SBQQ__AverageCustomerDiscount__c":0.0,"SBQQ__AdditionalDiscountAmount__c":0.00,"SBQQ__LineItemCount__c":1,"SBQQ__WatermarkShown__c":false,"SBQQ__Unopened__c":false,"SBQQ__Type__c":"Amendment","SBQQ__SubscriptionTerm__c":6,"SBQQ__Status__c":"Draft","SBQQ__StartDate__c":"2023-11-30","SBQQ__ShippingName__c":"REST
        Account  2023-10-31 00:00:00 UTC","SBQQ__SalesRep__c":"0056s000006SKknAAG","SBQQ__RenewalTerm__c":12,"SBQQ__Primary__c":true,"SBQQ__PricebookId__c":"01s6s000002xdpsAAA","SBQQ__PriceBook__c":"01s6s000002xdpsAAA","SBQQ__PaymentTerms__c":"Net
        30","SBQQ__PaperSize__c":"Default","SBQQ__Ordered__c":true,"SBQQ__OrderByQuoteLineGroup__c":false,"SBQQ__Opportunity2__c":"0066s00000Cez1gAAB","SBQQ__MasterContract__c":"8006s0000008GjwAAE","SBQQ__LineItemsPrinted__c":true,"SBQQ__LineItemsGrouped__c":false,"SBQQ__LastSavedOn__c":"2023-10-31T17:24:17.000+0000","SBQQ__LastCalculatedOn__c":"2023-10-31T17:24:11.000+0000","SBQQ__EndDate__c":"2024-05-29","SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__ConsumptionRateOverride__c":false,"SBQQ__BillingName__c":"REST
        Account  2023-10-31 00:00:00 UTC","SBQQ__Account__c":"0016s00000faOizAAE","LastReferencedDate":"2023-10-31T17:24:17.000+0000","LastViewedDate":"2023-10-31T17:24:17.000+0000","SystemModstamp":"2023-10-31T17:24:17.000+0000","LastModifiedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:24:17.000+0000","CreatedById":"0056s000006SKknAAG","CreatedDate":"2023-10-31T17:24:09.000+0000","Name":"Q-00002","IsDeleted":false,"OwnerId":"0056s000006SKknAAG","Id":"a0z6s00000165OGAAY","attributes":{"url":"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z6s00000165OGAAY","type":"SBQQ__Quote__c"}},{"attributes":{"type":"Product2","url":"/services/data/v59.0/sobjects/Product2/01t6s000004fN3sAAE"},"Id":"01t6s000004fN3sAAE","Name":"REST
        Product2  2023-10-31 00:00:00 UTC","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","Description":"A
        great description","IsActive":true,"CreatedDate":"2023-10-31T17:23:46.000+0000","CreatedById":"0056s000006SKknAAG","LastModifiedDate":"2023-10-31T17:23:46.000+0000","LastModifiedById":"0056s000006SKknAAG","SystemModstamp":"2023-10-31T17:23:47.000+0000","IsDeleted":false,"IsArchived":false,"SBQQ__AssetAmendmentBehavior__c":"Default","SBQQ__AssetConversion__c":"One
[...]
