---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-08-03 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Renewable","SBQQ__SubscriptionTerm__c":null,"SBQQ__BillingFrequency__c":"Annual"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10468/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t7e000009AskTAAS"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t7e000009AskTAAS","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:30 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10455/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s7e000002eLFEAA2"},"Id":"01s7e000002eLFEAA2"}]}'
  recorded_at: Thu, 03 Aug 2023 03:46:30 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009AskTAAS","IsActive":true,"UnitPrice":120.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10458/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsjwWAAR"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u7e00000IsjwWAAR","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:31 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-03 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10463/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001iaQKAAA2"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001iaQKAAA2","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:32 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-08-03 00:00:00 UTC","CloseDate":"2023-08-03","StageName":"Closed/Won","AccountId":"0017e00001iaQKAAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10475/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0067e00000OCuR6AAL"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0067e00000OCuR6AAL","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:32 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"syncs_backdated_initial_skip@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10480/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0037e00001jIBGxAAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0037e00001jIBGxAAO","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:33 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0067e00000OCuR6AAL","SBQQ__PrimaryContact__c":"0037e00001jIBGxAAO","SBQQ__PricebookId__c":"01s7e000002eLFEAA2","SBQQ__StartDate__c":"2023-04-24","SBQQ__SubscriptionTerm__c":12}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=10470/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z7e00000BDKhAAAX","success":true,"errors":[]}'
  recorded_at: Thu, 03 Aug 2023 03:46:34 GMT
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z7e00000BDKhAAAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDKhAAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX\"},\"Id\":\"a0z7e00000BDKhAAAX\",\"Name\":\"Q-01292\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iaQKAAA2\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\":\"2023-09-01\",\"SBQQ__StartDate__c\":\"2023-04-24\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s7e000002eLFEAA2\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0067e00000OCuR6AAL\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v58.0/sobjects/Account/0017e00001iaQKAAA2\"},\"Id\":\"0017e00001iaQKAAA2\",\"Name\":\"REST
        Account  2023-08-03 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v58.0/sobjects/Opportunity/0067e00000OCuR6AAL\"},\"Id\":\"0067e00000OCuR6AAL\",\"SBQQ__PrimaryQuote__c\":\"a0z7e00000BDKhAAAX\",\"AccountId\":\"0017e00001iaQKAAA2\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Thu, 03 Aug 2023 03:46:35 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t7e000009AskTAAS
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s7e000002eLFEAA2\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v58.0/sobjects/Product2/01t7e000009AskTAAS\"},\"Id\":\"01t7e000009AskTAAS\",\"Name\":\"REST
        Product2  2023-08-03 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Renewable\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"SBQQ__BillingFrequency__c\":\"Annual\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsjwWAAR\"},\"Product2Id\":\"01t7e000009AskTAAS\",\"Id\":\"01u7e00000IsjwWAAR\",\"Pricebook2Id\":\"01s7e000002eLFEAA2\",\"UnitPrice\":120.00,\"IsActive\":true}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"$\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Thu, 03 Aug 2023 03:46:37 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDKhAAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX\"},\"Id\":\"a0z7e00000BDKhAAAX\",\"Name\":\"Q-01292\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iaQKAAA2\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\"[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDKhAAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/se[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDKhAAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX\"},\"Id\":\"a0z7e00000BDKhAAAX\",\"Name\":\"Q-01292\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iaQKAAA2\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=10472/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Aug 2023 03:46:45 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10477/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8017e000000nRIoAAM"},"Id":"8017e000000nRIoAAM","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001iaQKAAA2","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OCuR6AAL","EffectiveDate":"2023-04-24","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","OrderNumber":"00001375","TotalAmount":120.0,"CreatedDate":"2023-08-03T03:46:44.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:45.000+0000","LastModifiedById":"0057e00000VZBcyAAH","IsDeleted":false,"SystemModstamp":"2023-08-03T03:46:45.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z7e00000BDKhAAAX","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":120.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Thu, 03 Aug 2023 03:46:46 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nRIoAAM
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=10472/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 03 Aug 2023 03:46:46 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nRIoAAM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10473/5000000
      Last-Modified:
      - Thu, 03 Aug 2023 03:46:46 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nRIoAAM"},"Id":"8017e000000nRIoAAM","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001iaQKAAA2","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OCuR6AAL","EffectiveDate":"2023-04-24","EndDate":null,"IsReduc[...]
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/batchApi
    body:
      encoding: UTF-8
      string: '{"order_ids":["8017e000000nRIoAAM"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"attributes":{"type":"Contact","url":"/services/data/v58.0/sobjects/Contact/0037e00001jIBGxAAO"},"Id":"0037e00001jIBGxAAO","IsDeleted":false,"LastName":"Bianco","Name":"Bianco","OtherAddress":null,"MailingAddress":null,"Email":"syncs_backdated_initial_skip@example.com","OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-03T03:46:33.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:33.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-03T03:46:33.000+0000","LastViewedDate":"2023-08-03T03:46:33.000+0000","LastReferencedDate":"2023-08-03T03:46:33.000+0000","IsEmailBounced":false,"PhotoUrl":"/services/images/photo/0037e00001jIBGxAAO","CleanStatus":"Pending"},{"attributes":{"type":"Opportunity","url":"/services/data/v58.0/sobjects/Opportunity/0067e00000OCuR6AAL"},"Id":"0067e00000OCuR6AAL","IsDeleted":false,"AccountId":"0017e00001iaQKAAA2","IsPrivate":false,"Name":"REST
        Opportunity  2023-08-03 00:00:00 UTC","StageName":"Closed/Won","Probability":0,"CloseDate":"2023-08-03","IsClosed":false,"IsWon":false,"ForecastCategory":"Omitted","ForecastCategoryName":"Omitted","HasOpportunityLineItem":false,"OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-03T03:46:32.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:34.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-03T03:46:34.000+0000","FiscalQuarter":3,"FiscalYear":2023,"Fiscal":"2023
        3","LastViewedDate":"2023-08-03T03:46:32.000+0000","LastReferencedDate":"2023-08-03T03:46:32.000+0000","HasOpenActivity":false,"HasOverdueTask":false,"SBQQ__Contracted__c":false,"SBQQ__CreateContractedPrices__c":false,"SBQQ__Ordered__c":false,"SBQQ__PrimaryQuote__c":"a0z7e00000BDKhAAAX","SBQQ__Renewal__c":false,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0017e00001iaQKAAA2"},"Id":"0017e00001iaQKAAA2","IsDeleted":false,"Name":"REST
        Account  2023-08-03 00:00:00 UTC","BillingAddress":null,"ShippingAddress":null,"PhotoUrl":"/services/images/photo/0017e00001iaQKAAA2","OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-03T03:46:31.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:31.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-03T03:46:31.000+0000","LastViewedDate":"2023-08-03T03:46:31.000+0000","LastReferencedDate":"2023-08-03T03:46:31.000+0000","CleanStatus":"Pending","SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"Accounts":["0017e00001iaQKAAA2"],"Opportunities":["0067e00000OCuR6AAL"],"Contacts":["0037e00001jIBGxAAO"],"SBQQ__RegularAmount__c":120.00,"SBQQ__NetAmount__c":120.00,"SBQQ__ListAmount__c":120.00,"SBQQ__CustomerAmount__c":120.00,"SBQQ__Uncalculated__c":true,"SBQQ__TotalCustomerDiscountAmount__c":0.00,"SBQQ__ExpirationDate__c":"2023-09-01","SBQQ__DaysQuoteOpen__c":0,"SBQQ__AveragePartnerDiscount__c":0.0,"SBQQ__AverageCustomerDiscount__c":0.0,"SBQQ__AdditionalDiscountAmount__c":0.00,"SBQQ__LineItemCount__c":1,"SBQQ__WatermarkShown__c":false,"SBQQ__Unopened__c":true,"SBQQ__Type__c":"Quote","SBQQ__SubscriptionTerm__c":12,"SBQQ__Status__c":"Draft","SBQQ__StartDate__c":"2023-04-24","SBQQ__ShippingName__c":"REST
        Account  2023-08-03 00:00:00 UTC","SBQQ__SalesRep__c":"0057e00000VZBcyAAH","SBQQ__Primary__c":true,"SBQQ__PrimaryContact__c":"0037e00001jIBGxAAO","SBQQ__PricebookId__c":"01s7e000002eLFEAA2","SBQQ__PriceBook__c":"01s7e000002eLFEAA2","SBQQ__PaymentTerms__c":"Net
        30","SBQQ__PaperSize__c":"Default","SBQQ__Ordered__c":true,"SBQQ__OrderByQuoteLineGroup__c":false,"SBQQ__Opportunity2__c":"0067e00000OCuR6AAL","SBQQ__LineItemsPrinted__c":true,"SBQQ__LineItemsGrouped__c":false,"SBQQ__LastSavedOn__c":"2023-08-03T03:46:43.000+0000","SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__ConsumptionRateOverride__c":false,"SBQQ__BillingName__c":"REST
        Account  2023-08-03 00:00:00 UTC","SBQQ__Account__c":"0017e00001iaQKAAA2","LastReferencedDate":"2023-08-03T03:46:43.000+0000","LastViewedDate":"2023-08-03T03:46:43.000+0000","SystemModstamp":"2023-08-03T03:46:43.000+0000","LastModifiedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:43.000+0000","CreatedById":"0057e00000VZBcyAAH","CreatedDate":"2023-08-03T03:46:34.000+0000","Name":"Q-01292","IsDeleted":false,"OwnerId":"0057e00000VZBcyAAH","Id":"a0z7e00000BDKhAAAX","attributes":{"url":"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDKhAAAX","type":"SBQQ__Quote__c"}},{"attributes":{"type":"Product2","url":"/services/data/v58.0/sobjects/Product2/01t7e000009AskTAAS"},"Id":"01t7e000009AskTAAS","Name":"REST
        Product2  2023-08-03 00:00:00 UTC","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","Description":"A
        great description","IsActive":true,"CreatedDate":"2023-08-03T03:46:30.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-03T03:46:30.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-03T03:46:31.000+0000","IsDeleted":false,"IsArchived":false,"SBQQ__AssetAmendmentBehavior__c":"Default","SBQQ__AssetConversion__c":"One
        per quote line","SBQQ__BillingFrequency__c":"Annual","SBQQ__BlockPricingField__c":"Quantity","SBQQ__Component__c":false,"SBQQ__CostEditable__c":false,"SBQQ__CustomConfigurationRequired__c":false,"SBQQ__DefaultQuantity__c":1.00000,"SBQQ__DescriptionLocked__c":false,"SBQQ__EnableLargeConfiguration__c":false,"SBQQ__ExcludeFromMaintenance__c":false,"SBQQ__ExcludeFromOpportunity__c":false,"SBQQ__ExternallyConfigurable__c":false,"SBQQ__HasConfigurationAttributes__c":false,"SBQQ__HasConsumptionSchedule__c":false,"SBQQ__Hidden__c":false,"SBQQ__HidePriceInSearchResults__c":false,"SBQQ__IncludeInMaintenance__c":false,"SBQQ__NewQuoteGroup__c":false,"SBQQ__NonDiscountable__c":false,"SBQQ__NonPartnerDiscountable__c":false,"SBQQ__OptionSelectionMethod__c":"Click","SBQQ__Optional__c":false,"SBQQ__PriceEditable__c":false,"SBQQ__PricingMethodEditable__c":false,"SBQQ__PricingMethod__c":"List","SBQQ__QuantityEditable__c":true,"SBQQ__ReconfigurationDisabled__c":false,"SBQQ__SubscriptionBase__c":"List","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionTy[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Type,%20OpportunityId,%0A%20%20%20%20%20%20Opportunity.SBQQ__AmendedContract__c%0AFROM%20Order%0AWHERE%20Id%20=%20%278017e000000nRIoAAM%27%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10477/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nRIoAAM"},"Type":"New","OpportunityId":"0067e00000OCuR6AAL","Opportunity":{"attributes":{"type":"Opportunity","url":"/services/data/v58.0/sobjects/Opportunity/0067e00000OCuR6AAL"},"SBQQ__AmendedContract__c":null}}]}'
  recorded_at: Thu, 03 Aug 2023 03:46:53 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id%20FROM%20Order%20WHERE%20Id%20=%20%278017e000000nRIoAAM%27%20%20AND%20Status%20=%20%27Activated%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=10481/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nRIoAAM"},"Id":"8017e000000nRIoAAM"}]}'
  recorded_at: Thu, 03 Aug 2023 03:46:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1691034413
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 26216c6c-ed89-4d0b-bd01-0b892fcae34c
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 26216c6c-ed89-4d0b-bd01-0b892fcae34c
      Original-Request:
      - req_6Y7d8zA6qfA38o
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1NasUzIsgf92XbAOUucL4MsU",
          "object": "test_helpers.test_clock",
          "created": 1691034413,
          "deletes_after": 1693626413,
          "frozen_time": 1691034413,
          "livemode": false,
          "name": null,
          "status": "ready"
        }
  recorded_at: Thu, 03 Aug 2023 03:46:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: name=REST+Account++2023-08-03+00%3A00%3A00+UTC&metadata[salesforce_account_id]=0017e00001iaQKAAA2&metadata[salesforce_account_link]=https%3A%2F%2Fability-innovation-7335-dev-ed.scratch.my.salesforce.com%2F0017e00001iaQKAAA2&email=test%40test.com&test_clock=clock_1NasUzIsgf92XbAOUucL4MsU
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 36f3978c-714b-411b-aa51-712fc211a009
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 36f3978c-714b-411b-aa51-712fc211a009
      Original-Request:
      - req_9sf4vjyXTD6Mxe
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ONdmk7RZvntxN8",
          "object": "customer",
[...]
