---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-08-01 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Renewable","SBQQ__SubscriptionTerm__c":1,"SBQQ__BillingFrequency__c":"Monthly"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8830/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t7e000009AnlwAAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t7e000009AnlwAAC","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=8831/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s7e000002eLFEAA2"},"Id":"01s7e000002eLFEAA2"}]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009AnlwAAC","IsActive":true,"UnitPrice":120.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8831/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsiXzAAJ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u7e00000IsiXzAAJ","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-01 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8832/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001iZyYVAA0"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001iZyYVAA0","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-08-01 00:00:00 UTC","CloseDate":"2023-08-01","StageName":"Closed/Won","AccountId":"0017e00001iZyYVAA0"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8831/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0067e00000NeygUAAR"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0067e00000NeygUAAR","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"invalidate_obj_cache@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8832/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0037e00001jHqLgAAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0037e00001jHqLgAAK","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0067e00000NeygUAAR","SBQQ__PrimaryContact__c":"0037e00001jHqLgAAK","SBQQ__PricebookId__c":"01s7e000002eLFEAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=8832/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z7e00000BDJvOAAX","success":true,"errors":[]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z7e00000BDJvOAAX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDJvOAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX\"},\"Id\":\"a0z7e00000BDJvOAAX\",\"Name\":\"Q-00927\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iZyYVAA0\",\"SBQQ__ExpirationDate__c\":\"2023-08-31\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s7e000002eLFEAA2\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0067e00000NeygUAAR\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v58.0/sobjects/Account/0017e00001iZyYVAA0\"},\"Id\":\"0017e00001iZyYVAA0\",\"Name\":\"REST
        Account  2023-08-01 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v58.0/sobjects/Opportunity/0067e00000NeygUAAR\"},\"Id\":\"0067e00000NeygUAAR\",\"SBQQ__PrimaryQuote__c\":\"a0z7e00000BDJvOAAX\",\"AccountId\":\"0017e00001iZyYVAA0\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__SubscriptionTerm__c\":null,\"SBQQ__StartDate__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t7e000009AnlwAAC
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s7e000002eLFEAA2\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v58.0/sobjects/Product2/01t7e000009AnlwAAC\"},\"Id\":\"01t7e000009AnlwAAC\",\"Name\":\"REST
        Product2  2023-08-01 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionTerm__c\":1,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Renewable\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"SBQQ__BillingFrequency__c\":\"Monthly\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsiXzAAJ\"},\"Product2Id\":\"01t7e000009AnlwAAC\",\"Id\":\"01u7e00000IsiXzAAJ\",\"Pricebook2Id\":\"01s7e000002eLFEAA2\",\"UnitPrice\":120.00,\"IsActive\":true}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"$\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDJvOAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX\"},\"Id\":\"a0z7e00000BDJvOAAX\",\"Name\":\"Q-00927\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iZyYVAA0\",\"SBQQ__ExpirationDate__c\":\"2023-08-31\",\"SBQQ__NetAmount[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDJvOAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/se[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDJvOAAX\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX\"},\"Id\":\"a0z7e00000BDJvOAAX\",\"Name\":\"Q-00927\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001iZyYVAA0\",\"SBQQ__ExpirationDate__c\":\"2023-08-31\",\"SBQQ__NetAmoun[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=8834/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=8836/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8017e000000nQBJAA2"},"Id":"8017e000000nQBJAA2","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001iZyYVAA0","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000NeygUAAR","EffectiveDate":"2023-08-01","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","OrderNumber":"00001012","TotalAmount":120.0,"CreatedDate":"2023-08-01T21:08:31.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:32.000+0000","LastModifiedById":"0057e00000VZBcyAAH","IsDeleted":false,"SystemModstamp":"2023-08-01T21:08:32.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z7e00000BDJvOAAX","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":120.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nQBJAA2
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=8834/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nQBJAA2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=8836/5000000
      Last-Modified:
      - Tue, 01 Aug 2023 21:08:34 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nQBJAA2"},"Id":"8017e000000nQBJAA2","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001iZyYVAA0","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000NeygUAAR","EffectiveDate":"2023-08-01","EndDate":null,"IsReduc[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/batchApi
    body:
      encoding: UTF-8
      string: '{"order_ids":["8017e000000nQBJAA2"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"attributes":{"type":"Contact","url":"/services/data/v58.0/sobjects/Contact/0037e00001jHqLgAAK"},"Id":"0037e00001jHqLgAAK","IsDeleted":false,"LastName":"Bianco","Name":"Bianco","OtherAddress":null,"MailingAddress":null,"Email":"invalidate_obj_cache@example.com","OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T21:08:23.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:23.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T21:08:23.000+0000","LastViewedDate":"2023-08-01T21:08:23.000+0000","LastReferencedDate":"2023-08-01T21:08:23.000+0000","IsEmailBounced":false,"PhotoUrl":"/services/images/photo/0037e00001jHqLgAAK","CleanStatus":"Pending"},{"attributes":{"type":"Opportunity","url":"/services/data/v58.0/sobjects/Opportunity/0067e00000NeygUAAR"},"Id":"0067e00000NeygUAAR","IsDeleted":false,"AccountId":"0017e00001iZyYVAA0","IsPrivate":false,"Name":"REST
        Opportunity  2023-08-01 00:00:00 UTC","StageName":"Closed/Won","Probability":0,"CloseDate":"2023-08-01","IsClosed":false,"IsWon":false,"ForecastCategory":"Omitted","ForecastCategoryName":"Omitted","HasOpportunityLineItem":false,"OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T21:08:23.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:24.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T21:08:24.000+0000","FiscalQuarter":3,"FiscalYear":2023,"Fiscal":"2023
        3","LastViewedDate":"2023-08-01T21:08:23.000+0000","LastReferencedDate":"2023-08-01T21:08:23.000+0000","HasOpenActivity":false,"HasOverdueTask":false,"SBQQ__Contracted__c":false,"SBQQ__CreateContractedPrices__c":false,"SBQQ__Ordered__c":false,"SBQQ__PrimaryQuote__c":"a0z7e00000BDJvOAAX","SBQQ__Renewal__c":false,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0017e00001iZyYVAA0"},"Id":"0017e00001iZyYVAA0","IsDeleted":false,"Name":"REST
        Account  2023-08-01 00:00:00 UTC","BillingAddress":null,"ShippingAddress":null,"PhotoUrl":"/services/images/photo/0017e00001iZyYVAA0","OwnerId":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T21:08:22.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:22.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T21:08:22.000+0000","LastViewedDate":"2023-08-01T21:08:22.000+0000","LastReferencedDate":"2023-08-01T21:08:22.000+0000","CleanStatus":"Pending","SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"},{"Accounts":["0017e00001iZyYVAA0"],"Opportunities":["0067e00000NeygUAAR"],"Contacts":["0037e00001jHqLgAAK"],"SBQQ__RegularAmount__c":120.00,"SBQQ__NetAmount__c":120.00,"SBQQ__ListAmount__c":120.00,"SBQQ__CustomerAmount__c":120.00,"SBQQ__Uncalculated__c":true,"SBQQ__TotalCustomerDiscountAmount__c":0.00,"SBQQ__ExpirationDate__c":"2023-08-31","SBQQ__DaysQuoteOpen__c":0,"SBQQ__AveragePartnerDiscount__c":0.0,"SBQQ__AverageCustomerDiscount__c":0.0,"SBQQ__AdditionalDiscountAmount__c":0.00,"SBQQ__LineItemCount__c":1,"SBQQ__WatermarkShown__c":false,"SBQQ__Unopened__c":true,"SBQQ__Type__c":"Quote","SBQQ__Status__c":"Draft","SBQQ__ShippingName__c":"REST
        Account  2023-08-01 00:00:00 UTC","SBQQ__SalesRep__c":"0057e00000VZBcyAAH","SBQQ__Primary__c":true,"SBQQ__PrimaryContact__c":"0037e00001jHqLgAAK","SBQQ__PricebookId__c":"01s7e000002eLFEAA2","SBQQ__PriceBook__c":"01s7e000002eLFEAA2","SBQQ__PaymentTerms__c":"Net
        30","SBQQ__PaperSize__c":"Default","SBQQ__Ordered__c":true,"SBQQ__OrderByQuoteLineGroup__c":false,"SBQQ__Opportunity2__c":"0067e00000NeygUAAR","SBQQ__LineItemsPrinted__c":true,"SBQQ__LineItemsGrouped__c":false,"SBQQ__LastSavedOn__c":"2023-08-01T21:08:31.000+0000","SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__ConsumptionRateOverride__c":false,"SBQQ__BillingName__c":"REST
        Account  2023-08-01 00:00:00 UTC","SBQQ__Account__c":"0017e00001iZyYVAA0","LastReferencedDate":"2023-08-01T21:08:31.000+0000","LastViewedDate":"2023-08-01T21:08:31.000+0000","SystemModstamp":"2023-08-01T21:08:31.000+0000","LastModifiedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:31.000+0000","CreatedById":"0057e00000VZBcyAAH","CreatedDate":"2023-08-01T21:08:24.000+0000","Name":"Q-00927","IsDeleted":false,"OwnerId":"0057e00000VZBcyAAH","Id":"a0z7e00000BDJvOAAX","attributes":{"url":"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDJvOAAX","type":"SBQQ__Quote__c"}},{"attributes":{"type":"Product2","url":"/services/data/v58.0/sobjects/Product2/01t7e000009AnlwAAC"},"Id":"01t7e000009AnlwAAC","Name":"REST
        Product2  2023-08-01 00:00:00 UTC","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","Description":"A
        great description","IsActive":true,"CreatedDate":"2023-08-01T21:08:20.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-01T21:08:20.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-01T21:08:21.000+0000","IsDeleted":false,"IsArchived":false,"SBQQ__AssetAmendmentBehavior__c":"Default","SBQQ__AssetConversion__c":"One
        per quote line","SBQQ__BillingFrequency__c":"Monthly","SBQQ__BlockPricingField__c":"Quantity","SBQQ__Component__c":false,"SBQQ__CostEditable__c":false,"SBQQ__CustomConfigurationRequired__c":false,"SBQQ__DefaultQuantity__c":1.00000,"SBQQ__DescriptionLocked__c":false,"SBQQ__EnableLargeConfiguration__c":false,"SBQQ__ExcludeFromMaintenance__c":false,"SBQQ__ExcludeFromOpportunity__c":false,"SBQQ__ExternallyConfigurable__c":false,"SBQQ__HasConfigurationAttributes__c":false,"SBQQ__HasConsumptionSchedule__c":false,"SBQQ__Hidden__c":false,"SBQQ__HidePriceInSearchResults__c":false,"SBQQ__IncludeInMaintenance__c":false,"SBQQ__NewQuoteGroup__c":false,"SBQQ__NonDiscountable__c":false,"SBQQ__NonPartnerDiscountable__c":false,"SBQQ__OptionSelectionMethod__c":"Click","SBQQ__Optional__c":false,"SBQQ__PriceEditable__c":false,"SBQQ__PricingMethodEditable__c":false,"SBQQ__PricingMethod__c":"List","SBQQ__QuantityEditable__c":true,"SBQQ__ReconfigurationDisabled__c":false,"SBQQ__SubscriptionBase__c":"List","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionTe[...]
[...]
