---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-07-01T00:00:00+00:00","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6672/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t7e000009ALMpAAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t7e000009ALMpAAO","success":true,"errors":[]}'
  recorded_at: Wed, 26 Jul 2023 00:28:19 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6672/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s7e000002eLFEAA2"},"Id":"01s7e000002eLFEAA2"}]}'
  recorded_at: Wed, 26 Jul 2023 00:28:20 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009ALMpAAO","IsActive":true,"UnitPrice":100.2555,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6673/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsbatAAB"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u7e00000IsbatAAB","success":true,"errors":[]}'
  recorded_at: Wed, 26 Jul 2023 00:28:20 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsbatAAB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6670/5000000
      Last-Modified:
      - Wed, 26 Jul 2023 00:28:20 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"PricebookEntry","url":"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsbatAAB"},"Id":"01u7e00000IsbatAAB","Name":"REST
        Product2  2023-07-01T00:00:00+00:00","Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009ALMpAAO","UnitPrice":100.2555,"IsActive":true,"UseStandardPrice":false,"CreatedDate":"2023-07-26T00:28:20.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-07-26T00:28:20.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-07-26T00:28:20.000+0000","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","IsDeleted":false,"IsArchived":false,"Stripe_ID__c":null,"Test_Decimal_Field__c":null,"Test_String_Field__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Wed, 26 Jul 2023 00:28:21 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/batchApi
    body:
      encoding: UTF-8
      string: '{"product2_ids":["01t7e000009ALMpAAO"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"records":[{"PricebookEntries":["01t7e000009ALMpAAO"],"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/","SBQQ__Taxable__c":false,"SBQQ__SubscriptionType__c":"Renewable","SBQQ__SubscriptionBase__c":"List","SBQQ__ReconfigurationDisabled__c":false,"SBQQ__QuantityEditable__c":true,"SBQQ__PricingMethod__c":"List","SBQQ__PricingMethodEditable__c":false,"SBQQ__PriceEditable__c":false,"SBQQ__Optional__c":false,"SBQQ__OptionSelectionMethod__c":"Click","SBQQ__NonPartnerDiscountable__c":false,"SBQQ__NonDiscountable__c":false,"SBQQ__NewQuoteGroup__c":false,"SBQQ__IncludeInMaintenance__c":false,"SBQQ__HidePriceInSearchResults__c":false,"SBQQ__Hidden__c":false,"SBQQ__HasConsumptionSchedule__c":false,"SBQQ__HasConfigurationAttributes__c":false,"SBQQ__ExternallyConfigurable__c":false,"SBQQ__ExcludeFromOpportunity__c":false,"SBQQ__ExcludeFromMaintenance__c":false,"SBQQ__EnableLargeConfiguration__c":false,"SBQQ__DescriptionLocked__c":false,"SBQQ__DefaultQuantity__c":1.00000,"SBQQ__CustomConfigurationRequired__c":false,"SBQQ__CostEditable__c":false,"SBQQ__Component__c":false,"SBQQ__BlockPricingField__c":"Quantity","SBQQ__AssetConversion__c":"One
        per quote line","SBQQ__AssetAmendmentBehavior__c":"Default","IsArchived":false,"IsDeleted":false,"SystemModstamp":"2023-07-26T00:28:20.000+0000","LastModifiedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-07-26T00:28:19.000+0000","CreatedById":"0057e00000VZBcyAAH","CreatedDate":"2023-07-26T00:28:19.000+0000","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","Name":"REST
        Product2  2023-07-01T00:00:00+00:00","Id":"01t7e000009ALMpAAO","attributes":{"url":"/services/data/v58.0/sobjects/Product2/01t7e000009ALMpAAO","type":"Product2"}},{"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/","IsArchived":false,"IsDeleted":false,"ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SystemModstamp":"2023-07-26T00:28:20.000+0000","LastModifiedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-07-26T00:28:20.000+0000","CreatedById":"0057e00000VZBcyAAH","CreatedDate":"2023-07-26T00:28:20.000+0000","UseStandardPrice":false,"IsActive":true,"UnitPrice":100.2555,"Product2Id":"01t7e000009ALMpAAO","Pricebook2Id":"01s7e000002eLFEAA2","Name":"REST
        Product2  2023-07-01T00:00:00+00:00","Id":"01u7e00000IsbatAAB","attributes":{"url":"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000IsbatAAB","type":"PricebookEntry"}}],"errors":[]}'
  recorded_at: Wed, 26 Jul 2023 00:28:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=REST+Product2++2023-07-01T00%3A00%3A00%2B00%3A00&description=A+great+description&metadata[salesforce_product2_id]=01t7e000009ALMpAAO&metadata[salesforce_product2_link]=https%3A%2F%2Fability-innovation-7335-dev-ed.scratch.my.salesforce.com%2F01t7e000009ALMpAAO
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b42c6613-880b-4226-b6f5-252e387f5b39
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - "<STRIPE_MERCHANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b42c6613-880b-4226-b6f5-252e387f5b39
      Original-Request:
      - req_W6L3II4uBooOgb
      Stripe-Account:
      - "<STRIPE_MERCHANT_ID>"
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_OKam0nQF2lDNxm",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1690331301,
          "default_price": null,
          "description": "A great description",
          "identifiers": {},
          "images": [],
          "livemode": false,
          "metadata": {
            "salesforce_product2_id": "01t7e000009ALMpAAO",
            "salesforce_product2_link": "https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/01t7e000009ALMpAAO"
          },
          "name": "REST Product2  2023-07-01T00:00:00+00:00",
          "package_dimensions": null,
          "product_class": null,
          "shippable": null,
          "sku": "rest-product2--2023-07-01t0000000000-194",
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1690331301,
          "url": null
        }
  recorded_at: Wed, 26 Jul 2023 00:28:21 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2/01t7e000009ALMpAAO
    body:
      encoding: UTF-8
      string: '{"Stripe_ID__c":"prod_OKam0nQF2lDNxm"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=6669/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 26 Jul 2023 00:28:22 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id%0AFROM%20ProductConsumptionSchedule%0AWHERE%20ProductId%20=%20%2701t7e000009ALMpAAO%27%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6674/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 26 Jul 2023 00:28:22 GMT
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2/01t7e000009ALMpAAO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=6671/5000000
      Last-Modified:
      - Wed, 26 Jul 2023 00:28:22 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Product2","url":"/services/data/v58.0/sobjects/Product2/01t7e000009ALMpAAO"},"Id":"01t7e000009ALMpAAO","Name":"REST
        Product2  2023-07-01T00:00:00+00:00","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","Description":"A
        great description","IsActive":true,"CreatedDate":"2023-07-26T00:28:19.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-07-26T00:28:22.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-07-26T00:28:22.000+0000","Family":null,"IsSerialized":false,"ExternalDataSourceId":null,"ExternalId":null,"DisplayUrl":null,"QuantityUnitOfMeasure":null,"IsDeleted":false,"IsArchived":false,"LastViewedDate":null,"LastReferencedDate":null,"StockKeepingUnit":null,"SBQQ__AssetAmendmentBehavior__c":"Default","SBQQ__AssetConversion__c":"One
        per quote line","SBQQ__BatchQuantity__c":null,"SBQQ__BillingFrequency__c":null,"SBQQ__BillingType__c":null,"SBQQ__BlockPricingField__c":"Quantity","SBQQ__ChargeType__c":null,"SBQQ__Component__c":false,"SBQQ__CompoundDiscountRate__c":null,"SBQQ__ConfigurationFieldSet__c":null,"SBQQ__ConfigurationFields__c":null,"SBQQ__ConfigurationFormTitle__c":null,"SBQQ__ConfigurationType__c":null,"SBQQ__ConfigurationValidator__c":null,"SBQQ__ConfiguredCodePattern__c":null,"SBQQ__ConfiguredDescriptionPattern__c":null,"SBQQ__CostEditable__c":false,"SBQQ__CostSchedule__c":null,"SBQQ__CustomConfigurationPage__c":null,"SBQQ__CustomConfigurationRequired__c":false,"SBQQ__CustomerCommunityAvailability__c":null,"SBQQ__DefaultPricingTable__c":null,"SBQQ__DefaultQuantity__c":1.0,"SBQQ__DescriptionLocked__c":false,"SBQQ__DiscountCategory__c":null,"SBQQ__DiscountSchedule__c":null,"SBQQ__DynamicPricingConstraint__c":null,"SBQQ__EnableLargeConfiguration__c":false,"SBQQ__ExcludeFromMaintenance__c":false,"SBQQ__ExcludeFromOpportunity__c":false,"SBQQ__ExternallyConfigurable__c":false,"SBQQ__GenerateContractedPrice__c":null,"SBQQ__HasConfigurationAttributes__c":false,"SBQQ__HasConsumptionSchedule__c":false,"SBQQ__Hidden__c":false,"SBQQ__HidePriceInSearchResults__c":false,"SBQQ__IncludeInMaintenance__c":false,"SBQQ__NewQuoteGroup__c":false,"SBQQ__NonDiscountable__c":false,"SBQQ__NonPartnerDiscountable__c":false,"SBQQ__OptionLayout__c":null,"SBQQ__OptionSelectionMethod__c":"Click","SBQQ__Optional__c":false,"SBQQ__PriceEditable__c":false,"SBQQ__PricingGuidance__c":null,"SBQQ__PricingMethodEditable__c":false,"SBQQ__PricingMethod__c":"List","SBQQ__ProductPictureID__c":null,"SBQQ__QuantityEditable__c":true,"SBQQ__QuantityScale__c":null,"SBQQ__ReconfigurationDisabled__c":false,"SBQQ__RenewalProduct__c":null,"SBQQ__SortOrder__c":null,"SBQQ__Specifications__c":null,"SBQQ__SubscriptionBase__c":"List","SBQQ__SubscriptionCategory__c":null,"SBQQ__SubscriptionPercent__c":null,"SBQQ__SubscriptionPricing__c":null,"SBQQ__SubscriptionTarget__c":null,"SBQQ__SubscriptionTerm__c":null,"SBQQ__SubscriptionType__c":"Renewable","SBQQ__TaxCode__c":null,"SBQQ__Taxable__c":false,"SBQQ__TermDiscountLevel__c":null,"SBQQ__TermDiscountSchedule__c":null,"SBQQ__UpgradeCredit__c":null,"SBQQ__UpgradeRatio__c":null,"SBQQ__UpgradeSource__c":null,"SBQQ__UpgradeTarget__c":null,"SBQQ__ConfigurationEvent__c":null,"Stripe_ID__c":"prod_OKam0nQF2lDNxm","Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/prod_OKam0nQF2lDNxm"}'
  recorded_at: Wed, 26 Jul 2023 00:28:23 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: currency=usd&unit_amount_decimal=10025.55&product=prod_OKam0nQF2lDNxm&metadata[salesforce_pricebook_entry_id]=01u7e00000IsbatAAB&metadata[salesforce_pricebook_entry_link]=https%3A%2F%2Fability-innovation-7335-dev-ed.scratch.my.salesforce.com%2F01u7e00000IsbatAAB
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - cb3d5fd2-70cc-4203-acc6-4f95978e118f
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - "<STRIPE_MERCHANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - cb3d5fd2-70cc-4203-acc6-4f95978e118f
      Original-Request:
      - req_tVsek1PqXoSzLZ
      Stripe-Account:
      - "<STRIPE_MERCHANT_ID>"
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1NXvaVIsgf92XbAObzXPuNVh",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1690331303,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {
            "salesforce_pricebook_entry_id": "01u7e00000IsbatAAB",
            "salesforce_pricebook_entry_link": "https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/01u7e00000IsbatAAB"
          },
          "nickname": null,
          "product": "prod_OKam0nQF2lDNxm",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": null,
          "unit_amount_decimal": "10025.55"
        }
  recorded_at: Wed, 26 Jul 2023 00:28:23 GMT
[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Sync_Record__c/Compound_ID__c/01u7e00000IsbatAAB-01u7e00000IsbatAAB
    body:
      encoding: UTF-8
      string: '{"Primary_Record_ID__c":"01u7e00000IsbatAAB","Primary_Object_Type__c":"PricebookEntry","Secondary_Record_ID__c":"01u7e00000IsbatAAB","Secondary_Object_Type__c":"PricebookEntry","Resolution_Message__c":"Sync
        Successful, created Stripe Price Object with ID: price_1NXvaVIsgf92XbAObzXPuNVh","Resolution_Status__c":"Success"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=6675/5000000
      Location:
      - "/services/data/v58.0/sobjects/Sync_Record__c/a1W7e000002Go1pEAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"id":"a1W7e000002Go1pEAC","success":true,"errors":[],"created":true}'
  recorded_at: Wed, 26 Jul 2023 00:28:24 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices/price_1NXvaVIsgf92XbAObzXPuNVh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - "<STRIPE_MERCHANT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      St[...]
