.strike-logo-container img {
    max-width: 320px;
    width: auto;
    max-height: 180px;
    height: auto;
}

.slds-progress-ring_complete {
    opacity: 0;
    transform: scale(0);
    will-change: opacity, transform;
    transition: all 250ms cubic-bezier(0.14, 1.51, 0.54, 1.06) 250ms;
}

.slds-progress-ring_complete.strike-not-animated {
    transition: none;
}

.slds-progress-ring_complete.strike-animated,
.slds-progress-ring_complete.strike-not-animated {
    opacity: 1;
    transform: scale(1);
}

.strike-help {
    padding: 0;
    overflow: hidden;
}

.strike-help__header {
    padding: t(spacingLarge);
}

.strike-help__header a,
.strike-help__header a:hover,
.strike-help__header a:active,
.strike-help__header a:focus {
    color: #fff;
    text-decoration: underline;
}

.strike-help__header > .slds-grid {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 48em) {
    .strike-help__header > .slds-grid {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.strike-help__header .slds-list_horizontal.slds-has-dividers > .slds-list__item:after {
    background-color: white;
}

.strike-help__contact-info {
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 48em) {
    .strike-help__contact-info {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.strike-help__contact-info a {
    text-decoration: none;
    color: #fff;
}

.strike-help__body {
    padding: t(spacingLarge);
}

.strike-help__links-header {
    margin-top: t(spacingMedium);
}

@media (min-width: 48em) {
    .strike-help__links-header {
        margin-top: 0;
    }
}

.strike-help__columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.strike-progress {
    pointer-events: none;
}

.strike-progress .slds-progress__list {
    height: 22px;
}

.strike-progress li .slds-progress__marker_icon {
    width: 0.875rem;
    height: 0.875rem;
    box-sizing: content-box;
}

.strike-progress li .slds-progress__marker_icon .slds-button__icon {
    width: 0.875rem;
    height: 0.875rem;
}

 .strike-setup-toast {
    transition: all 250ms ease 0ms;
    opacity: 0;
    pointer-events: none;
}

 .strike-setup-toast.show {
    opacity: 1;
    pointer-events: auto;
}

 .slds-path__link:hover,
 .slds-path__link:active,
 .slds-path__link:focus,
 .slds-path__item,
 .slds-path__item::before {
    text-decoration: none;
    cursor: default;
}

.strike-version-number {
    margin-bottom: -0.125rem;
}

.strike-setup-assistant {
    padding: 0;
    border-top: 1px solid var(--lwc-colorBorder, #d9dbdd);
}

.strike-setup-assistant > li:last-child {
    border-bottom: none;
}

.strike-setup-assistant_container {
    max-width: 56rem;
}

.strike-setup-assistant .slds-setup-assistant__item {
    padding: var(--lwc-spacingLarge, 1.5rem) var(--lwc-spacingLarge, 1.5rem) calc(var(--lwc-spacingLarge, 1.5rem) + 0.2rem);
}
