---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Sample+customer+for+Salesforce&email=0r5rTMKHaOqIrKbXrXm3xsKpRK6so%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ece36ee3-4074-49eb-a6ad-771c3f537b0e
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ece36ee3-4074-49eb-a6ad-771c3f537b0e
      Original-Request:
      - req_DDHkyVqcbEiJ7W
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ON9fUC1c4qqjqB",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1690922401,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Sample customer for Salesforce",
          "discount": null,
          "email": "0r5rTMKHaOqIrKbXrXm3xsKpRK6so@example.com",
          "invoice_prefix": "D9FAF4E6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa/attach
    body:
      encoding: UTF-8
      string: customer=cus_ON9fUC1c4qqjqB
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4f561616-01f9-458c-8c52-b28b150f8d70
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4f561616-01f9-458c-8c52-b28b150f8d70
      Original-Request:
      - req_t87TnTicQtprTt
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_1NaPMLIsgf92XbAOfBlcKUtn",
          "object": "payment_method",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": null
            },
            "country": "US",
            "exp_month": 8,
            "exp_year": 2024,
            "fingerprint": "fSHFVkefTWHUR92h",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1690922401,
          "customer": "cus_ON9fUC1c4qqjqB",
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_ON9fUC1c4qqjqB
    body:
      encoding: UTF-8
      string: invoice_settings[default_payment_method]=pm_1NaPMLIsgf92XbAOfBlcKUtn
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - ff8c44a5-3ec3-4066-9f6d-73b6c27b9174
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  res[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=REST+Product++2023-08-01+00%3A00%3A00+UTC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 19b908c4-7d43-44a1-bc83-2953f3c59795
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 19b908c4-7d43-44a1-bc83-2953f3c59795
      Original-Request:
      - req_V61Eedxp4k9PZt
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_ON9f82kF0eAZ5T",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1690922402,
          "default_price": null,
          "description": null,
          "identifiers": {},
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "REST Product  2023-08-01 00:00:00 UTC",
          "package_dimensions": null,
          "product_class": null,
          "shippable": null,
          "sku": "rest-product--2023-08-01-000000-utc-5",
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1690922402,
          "url": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_ON9f82kF0eAZ5T&currency=usd&unit_amount=1000&recurring[interval]=month
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6574e886-8355-4595-80a8-698c4e27a488
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6574e886-8355-4595-80a8-698c4e27a488
      Original-Request:
      - req_9i54d7KiDIYiMB
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1NaPMNIsgf92XbAOSkkwi7IY",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1690922403,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_ON9f82kF0eAZ5T",
          "recurring": {
            "aggregate_usage": null,
            "interval": "month",
            "interval_count": 1,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "recurring",
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_ON9fUC1c4qqjqB&items[0][price]=price_1NaPMNIsgf92XbAOSkkwi7IY
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1f1db6f9-4f3d-493c-a3fa-25d40d35e9b6
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1f1db6f9-4f3d-493c-a3fa-25d40d35e9b6
      Original-Request:
      - req_wIJQyNHCWNNukb
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1NaPMNIsgf92XbAOvnaiZmPt",
          "object": "subscription",
          "application": "ca_KHoLJGritkQy9Bisc1D5O5YglqfWs5bi",
          "application_fee_percent": null,
          "automatic_tax": {
            "enabled": false
          },
          "billing_cycle_anchor": 1690922403,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1690922403,
          "currency": "usd",
          "current_period_end": 1693600803,
          "current_period_start": 1690922403,
          "customer": "cus_ON9fUC1c4qqjqB",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "rendering": null
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_ON9fqYMeQSPiqE",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1690922404,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1NaPMNIsgf92XbAOSkkwi7IY",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 1000,
                  "amount_decimal": "1000",
                  "billing_scheme": "per_unit",
                  "created": 1690922403,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_ON9f82kF0eAZ5T",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1NaPMNIsgf92XbAOSkkwi7IY",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1690922403,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_ON9f82kF0eAZ5T",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 1000,
                  "unit_amount_decimal": "1000"
                },
                "quantity": 1,
                "subscription": "sub_1NaPMNIsgf92XbAOvnaiZmPt",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1NaPMNIsgf92XbAOvnaiZmPt"
          },
          "latest_invoice": "in_1NaPMNIsgf92XbAO43heKtu4",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1NaPMNIsgf92XbAOSkkwi7IY",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 1000,
            "amount_decimal": "1000",
            "billing_scheme": "per_unit",
            "created": 1690922403,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": null,
            "product": "prod_ON9f82kF0eAZ5T",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "prebilling": null,
          "quantity": 1,
          "schedule": null,
          "start_date": 1690922403,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_ON9fUC1c4qqjqB&subscription=sub_1NaPMNIsgf92XbAOvnaiZmPt&price=price_1NaPMPIsgf92XbAOjpRVPz8Y&quantity=1&period[start]=1690848000&period[end]=1690934400
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - b4e259f9-ee2d-4fa3-9afe-0380cc60682b
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b4e259f9-ee2d-4fa3-9afe-0380cc60682b
      Original-Request:
      - req_XHLUP8f7iBimga
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1NaPMRIsgf92XbAOFgbV62YM",
          "object": "invoiceitem",
          "amount": 1000,
          "currency": "usd",
          "customer": "cus_ON9fUC1c4qqjqB",
          "date": 1690922407,
          "description": "REST Product  2023-08-01 00:00:00 UTC",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "end": 1690934400,
            "start": 1690848000
          },
          "plan": null,
          "price": {
            "id": "price_1NaPMPIsgf92XbAOjpRVPz8Y",
            "object": "price",
            "active": true,
            "billing_scheme": "per_unit",
            "created": 1690922405,
            "currency": "usd",
            "custom_unit_amount": null,
            "livemode": false,
            "lookup_key": null,
            "metadata": {},
            "nickname": null,
            "product": "prod_ON9f5SepIg7qU3",
            "recurring": null,
            "tax_behavior": "unspecified",
            "tiers_mode": null,
            "transform_quantity": null,
            "type": "one_time",
            "unit_amount": 1000,
            "unit_amount_decimal": "1000"
          },
          "proration": false,
          "quantity": 1,
          "subscription": "sub_1NaPMNIsgf92XbAOvnaiZmPt",
          "tax_rates": [],
          "test_clock": null,
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events?object_id=ii_1NaPMRIsgf92XbAOFgbV62YM&type=invoiceitem.created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "evt_1NaPMRIsgf92XbAOCpe2UWcY",
              "object": "event",
              "account": "acct_15uapDIsgf92XbAO",
              "api_version": "2020-08-27",
              "created": 1690922407,
              "data": {
                "object": {
                  "id": "ii_1NaPMRIsgf92XbAOFgbV62YM",
                  "object": "invoiceitem",
                  "amount": 1000,
                  "currency": "usd",
                  "customer": "cus_ON9fUC1c4qqjqB",
                  "date": 1690922407,
                  "description": "REST Product  2023-08-01 00:00:00 UTC",
                  "discountable": true,
                  "disc[...]
