---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Sample+customer+for+Salesforce&email=KdijORh8vrA0lLOr0nOb24EsMs44z%40example.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f73f9c7b-ebc7-41ca-8611-3e7b525cb0ba
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f73f9c7b-ebc7-41ca-8611-3e7b525cb0ba
      Original-Request:
      - req_yeDHRs14pFASPr
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_ON9f72qLZAtkgc",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1690922407,
          "currency": null,
          "default_currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Sample customer for Salesforce",
          "discount": null,
          "email": "KdijORh8vrA0lLOr0nOb24EsMs44z@example.com",
          "invoice_prefix": "61EDE62D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/products
    body:
      encoding: UTF-8
      string: name=REST+Product++2023-08-01+00%3A00%3A00+UTC
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - debaed5e-283a-47a1-b466-58b5065a5cb8
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - debaed5e-283a-47a1-b466-58b5065a5cb8
      Original-Request:
      - req_C1ZPSzCYAe2Viz
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "prod_ON9f3t0aA1voFg",
          "object": "product",
          "active": true,
          "attributes": [],
          "created": 1690922407,
          "default_price": null,
          "description": null,
          "identifiers": {},
          "images": [],
          "livemode": false,
          "metadata": {},
          "name": "REST Product  2023-08-01 00:00:00 UTC",
          "package_dimensions": null,
          "product_class": null,
          "shippable": null,
          "sku": "rest-product--2023-08-01-000000-utc-7",
          "statement_descriptor": null,
          "tax_code": null,
          "type": "service",
          "unit_label": null,
          "updated": 1690922407,
          "url": null
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/prices
    body:
      encoding: UTF-8
      string: product=prod_ON9f3t0aA1voFg&currency=usd&unit_amount=1000
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e986ff64-5b0c-4a8d-910e-fc7dfc6592a9
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e986ff64-5b0c-4a8d-910e-fc7dfc6592a9
      Original-Request:
      - req_9o5hbkkZ8m8UH7
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "price_1NaPMSIsgf92XbAONgL7igZn",
          "object": "price",
          "active": true,
          "billing_scheme": "per_unit",
          "created": 1690922408,
          "currency": "usd",
          "custom_unit_amount": null,
          "livemode": false,
          "lookup_key": null,
          "metadata": {},
          "nickname": null,
          "product": "prod_ON9f3t0aA1voFg",
          "recurring": null,
          "tax_behavior": "unspecified",
          "tiers_mode": null,
          "transform_quantity": null,
          "type": "one_time",
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_ON9f72qLZAtkgc&price=price_1NaPMSIsgf92XbAONgL7igZn&quantity=1&period[start]=1690848000&period[end]=1690934400
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - fa43128b-d480-4f4c-9873-79456170975c
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - fa43128b-d480-4f4c-9873-79456170975c
      Original-Request:
      - req_mfITBpRZ9jwegA
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ii_1NaPMSIsgf92XbAOT0kXUIdz",
          "object": "invoiceitem",
          "amount": 1000,
          "currency": "usd",
          "customer": "cus_ON9f72qLZAtkgc",
          "date": 1690922408,
          "description": "REST Product  2023-08-01 00:00:00 UTC",
          "discountable": true,
          "discounts": [],
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "end": 1690934400,
            "start": 1690848000
          },
          "plan": null,
          "price": {
            "id": "price_1NaPMSIsgf92XbAONgL7igZn",
            "object": "price",
            "active": true,
            "billing_scheme": "per_unit",
            "created": 1690922408,
            "currency": "usd",
            "custom_unit_amount": null,
            "livemode": false,
            "lookup_key": null,
            "metadata": {},
            "nickname": null,
            "product": "prod_ON9f3t0aA1voFg",
            "recurring": null,
            "tax_behavior": "unspecified",
            "tiers_mode": null,
            "transform_quantity": null,
            "type": "one_time",
            "unit_amount": 1000,
            "unit_amount_decimal": "1000"
          },
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "tax_rates": [],
          "test_clock": null,
          "unit_amount": 1000,
          "unit_amount_decimal": "1000"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events?object_id=ii_1NaPMSIsgf92XbAOT0kXUIdz&type=invoiceitem.created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/events"
        }
  recorded_at: Tue, 01 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events?object_id=ii_1NaPMSIsgf92XbAOT0kXUIdz&type=invoiceitem.created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "evt_1NaPMSIsgf92XbAOAfbZXRVU",
              "object": "event",
              "account": "acct_15uapDIsgf92XbAO",
              "api_version": "2020-08-27",
              "created": 1690922408,
              "data": {
                "object": {
                  "id": "ii_1NaPMSIsgf92XbAOT0kXUIdz",
                  "object": "invoiceitem",
                  "amount": 1000,
                  "currency": "usd",
                  "customer": "cus_ON9f72qLZAtkgc",
                  "date": 1690922408,
                  "description": "REST Product  2023-08-01 00:00:00 UTC",
                  "discountable": true,
                  "disc[...]
