---
http_interactions:
- request:
    method: post
    uri: https://connect-saas-89822-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Quote_Stripe_Coupon__c
    body:
      encoding: UTF-8
      string: '{"Name__c":"Invalid coupon","Amount_Off__c":10,"Duration__c":"once","Percent_Off__c":25}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Sforce-Limit-Info:
      - api-usage=120/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"message":"Received both Percent_Off__c and Amount_Off__c parameters.
        Please pass in only one.","errorCode":"FIELD_CUSTOM_VALIDATION_EXCEPTION","fields":[]}]'
  recorded_at: Thu, 09 Nov 2023 19:18:45 GMT
recorded_with: VCR 6.2.0
