---
http_interactions:
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-08-14 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Evergreen","SBQQ__SubscriptionTerm__c":1}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=460/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t7e000009BnQyAAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t7e000009BnQyAAK","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=461/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s7e000002eLFEAA2"},"Id":"01s7e000002eLFEAA2"}]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s7e000002eLFEAA2","Product2Id":"01t7e000009BnQyAAK","IsActive":true,"UnitPrice":120.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=462/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u7e00000It8FYAAZ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u7e00000It8FYAAZ","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-08-14 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=462/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0017e00001j2mtfAAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0017e00001j2mtfAAA","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-08-14 00:00:00 UTC","CloseDate":"2023-08-14","StageName":"Closed/Won","AccountId":"0017e00001j2mtfAAA"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=460/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0067e00000OFo35AAD"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0067e00000OFo35AAD","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"create_evergreen@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=459/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0037e00001pQYNrAAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0037e00001pQYNrAAO","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0067e00000OFo35AAD","SBQQ__PrimaryContact__c":"0037e00001pQYNrAAO","SBQQ__PricebookId__c":"01s7e000002eLFEAA2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=461/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z7e00000BDNGlAAP","success":true,"errors":[]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z7e00000BDNGlAAP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDNGlAAP\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP\"},\"Id\":\"a0z7e00000BDNGlAAP\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01500\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j2mtfAAA\",\"SBQQ__ExpirationDate__c\":\"2023-09-13\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s7e000002eLFEAA2\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0067e00000OFo35AAD\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v58.0/sobjects/Account/0017e00001j2mtfAAA\"},\"Id\":\"0017e00001j2mtfAAA\",\"Name\":\"REST
        Account  2023-08-14 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v58.0/sobjects/Opportunity/0067e00000OFo35AAD\"},\"Id\":\"0067e00000OFo35AAD\",\"SBQQ__PrimaryQuote__c\":\"a0z7e00000BDNGlAAP\",\"AccountId\":\"0017e00001j2mtfAAA\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__SubscriptionTerm__c\":null,\"SBQQ__StartDate__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"currencyDecimalScale\":2,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t7e000009BnQyAAK
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s7e000002eLFEAA2\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v58.0/sobjects/Product2/01t7e000009BnQyAAK\"},\"Id\":\"01t7e000009BnQyAAK\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"REST
        Product2  2023-08-14 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionTerm__c\":1,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Evergreen\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v58.0/sobjects/PricebookEntry/01u7e00000It8FYAAZ\"},\"Product2Id\":\"01t7e000009BnQyAAK\",\"Id\":\"01u7e00000It8FYAAZ\",\"Pricebook2Id\":\"01s7e000002eLFEAA2\",\"UnitPrice\":120.00,\"IsActive\":true,\"CurrencyIsoCode\":\"USD\"}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"USD
        \",\"currencyCode\":\"USD\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDNGlAAP\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP\"},\"Id\":\"a0z7e00000BDNGlAAP\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01500\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j2mtfAAA\",\"SBQQ__ExpirationDate__c\":\"20[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDNGlAAP\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/se[...]
- request:
    method: post
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z7e00000BDNGlAAP\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP\"},\"Id\":\"a0z7e00000BDNGlAAP\",\"CurrencyIsoCode\":\"USD\",\"Name\":\"Q-01500\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0017e00001j2mtfAAA\",\"SBQQ__ExpirationDate__c\":\"2[...]
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=464/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z7e00000BDNGlAAP/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=461/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8017e000000nWvBAAU"},"Id":"8017e000000nWvBAAU","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001j2mtfAAA","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OFo35AAD","EffectiveDate":"2023-08-14","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","CurrencyIsoCode":"USD","OrderNumber":"00001579","TotalAmount":120.0,"CreatedDate":"2023-08-14T20:53:26.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-14T20:53:27.000+0000","LastModifiedById":"0057e00000VZBcyAAH","IsDeleted":false,"SystemModstamp":"2023-08-14T20:53:27.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z7e00000BDNGlAAP","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":0.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nWvBAAU
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=465/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8017e000000nWvBAAU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=460/5000000
      Last-Modified:
      - Mon, 14 Aug 2023 20:53:28 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8017e000000nWvBAAU"},"Id":"8017e000000nWvBAAU","OwnerId":"0057e00000VZBcyAAH","ContractId":null,"AccountId":"0017e00001j2mtfAAA","Pricebook2Id":"01s7e000002eLFEAA2","OriginalOrderId":null,"OpportunityId":"0067e00000OFo35AAD","EffectiveDate":"2023-08-14","EndDate":null,"IsReduc[...]
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id%20FROM%20OrderItem%20WHERE%20OrderId%20=%20%278017e000000nWvBAAU%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=464/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OrderItem","url":"/services/data/v58.0/sobjects/OrderItem/8027e000001bUxKAAU"},"Id":"8027e000001bUxKAAU"}]}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
- request:
    method: get
    uri: https://ability-innovation-7335-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/OrderItem/8027e000001bUxKAAU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=462/5000000
      Last-Modified:
      - Mon, 14 Aug 2023 20:53:28 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"OrderItem","url":"/services/data/v58.0/sobjects/OrderItem/8027e000001bUxKAAU"},"Id":"8027e000001bUxKAAU","Product2Id":"01t7e000009BnQyAAK","IsDeleted":false,"OrderId":"8017e000000nWvBAAU","PricebookEntryId":"01u7e00000It8FYAAZ","OriginalOrderItemId":null,"AvailableQuantity":1.0,"Quantity":1.0,"CurrencyIsoCode":"USD","UnitPrice":120.0,"ListPrice":120.0,"TotalPrice":120.0,"ServiceDate":"2023-08-14","EndDate":null,"Description":null,"CreatedDate":"2023-08-14T20:53:26.000+0000","CreatedById":"0057e00000VZBcyAAH","LastModifiedDate":"2023-08-14T20:53:28.000+0000","LastModifiedById":"0057e00000VZBcyAAH","SystemModstamp":"2023-08-14T20:53:28.000+0000","OrderItemNumber":"0000001620","SBQQ__Activated__c":true,"SBQQ__Asset__c":null,"SBQQ__BillingFrequency__c":null,"SBQQ__BillingType__c":null,"SBQQ__BlockPrice__c":null,"SBQQ__BookingsIndicator__c":"Do
        Not Include","SBQQ__BundleRoot__c":null,"SBQQ__ChargeType__c":null,"SBQQ__ContractAction__c":"New","SBQQ__Contract__c":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"Inherit","SBQQ__DefaultSubscriptionTerm__c":1.0,"SBQQ__DimensionType__c":null,"SBQQ__DiscountSchedule__c":null,"SBQQ__OrderedQuantity__c":1.0,"SBQQ__PriceDimension__c":null,"SBQQ__PriceSchedule__c":null,"SBQQ__PricingMethod__c":"List","SBQQ__ProductSubscriptionType__c":"Evergreen","SBQQ__ProrateMultiplier__c":1.0,"SBQQ__QuoteLine__c":"a0v7e000008xbyyAAA","SBQQ__QuotedListPrice__c":120.0,"SBQQ__QuotedQuantity__c":1.0,"SBQQ__RequiredBy__c":null,"SBQQ__RevisedOrderProduct__c":null,"SBQQ__SegmentIndex__c":null,"SBQQ__SegmentKey__c":null,"SBQQ__ShippingAccount__c":null,"SBQQ__Status__c":"Activated","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionTerm__c":1.0,"SBQQ__Subscription__c":null,"SBQQ__TaxAmount__c":null,"SBQQ__TaxCode__c":null,"SBQQ__TermDiscountSchedule__c":null,"SBQQ__TerminatedDate__c":null,"SBQQ__UnproratedNetPrice__c":null,"SBQQ__UpgradedSubscription__c":null,"SBQQ__OrderProductBookings__c":0.0,"SBQQ__SubscriptionType__c":"Evergreen","Skip_Line_Item__c":false,"Stripe_ID__c":null,"Test_Decimal_Field__c":null,"Test_String_Field__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Mon, 14 Aug 2023 00:00:00 GMT
recorded_with: VCR 6.2.0
