---
http_interactions:
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account
    body:
      encoding: UTF-8
      string: '{"Name":"REST Account  2023-10-16 00:00:00 UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=137/5000000
      Location:
      - "/services/data/v58.0/sobjects/Account/0018N00000JbNP7QAN"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0018N00000JbNP7QAN","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Product2
    body:
      encoding: UTF-8
      string: '{"Name":"REST Product2  2023-10-16 00:00:00 UTC","IsActive":true,"Description":"A
        great description","ProductCode":"EfxBsBKAsjaF0caCUQPWQYJ8h61G","SBQQ__SubscriptionPricing__c":"Fixed
        Price","SBQQ__SubscriptionType__c":"Renewable","SBQQ__SubscriptionTerm__c":1,"SBQQ__BillingFrequency__c":"Monthly"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=139/5000000
      Location:
      - "/services/data/v58.0/sobjects/Product2/01t8N000003Df4iQAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01t8N000003Df4iQAC","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/query?q=Select%20Id%20from%20Pricebook2%20where%20IsStandard%20=%20true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=144/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Pricebook2","url":"/services/data/v58.0/sobjects/Pricebook2/01s8N000002d0dzQAA"},"Id":"01s8N000002d0dzQAA"}]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/PricebookEntry
    body:
      encoding: UTF-8
      string: '{"Pricebook2Id":"01s8N000002d0dzQAA","Product2Id":"01t8N000003Df4iQAC","IsActive":true,"UnitPrice":120.0,"UseStandardPrice":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=143/5000000
      Location:
      - "/services/data/v58.0/sobjects/PricebookEntry/01u8N000003e0GtQAI"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"01u8N000003e0GtQAI","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
[...]
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Opportunity
    body:
      encoding: UTF-8
      string: '{"Name":"REST Opportunity  2023-10-16 00:00:00 UTC","CloseDate":"2023-10-16","StageName":"Closed/Won","AccountId":"0018N00000JbNP7QAN"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=144/5000000
      Location:
      - "/services/data/v58.0/sobjects/Opportunity/0068N000006QZEcQAO"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0068N000006QZEcQAO","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"LastName":"Bianco","Email":"customer_deleted_error_1@example.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=144/5000000
      Location:
      - "/services/data/v58.0/sobjects/Contact/0038N00000GH2QFQA1"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0038N00000GH2QFQA1","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c
    body:
      encoding: UTF-8
      string: '{"SBQQ__Primary__c":true,"SBQQ__Opportunity2__c":"0068N000006QZEcQAO","SBQQ__PrimaryContact__c":"0038N00000GH2QFQA1","SBQQ__PricebookId__c":"01s8N000002d0dzQAA","SBQQ__StartDate__c":"2023-10-16","SBQQ__SubscriptionTerm__c":12}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=140/5000000
      Location:
      - "/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0z8N000000zBbhQAE","success":true,"errors":[]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?reader=SBQQ.QuoteAPI.QuoteReader&uid=a0z8N000000zBbhQAE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z8N000000zBbhQAE\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE\"},\"Id\":\"a0z8N000000zBbhQAE\",\"Name\":\"Q-00245\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0018N00000JbNP7QAN\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\":\"2023-11-15\",\"SBQQ__StartDate__c\":\"2023-10-16\",\"SBQQ__NetAmount__c\":0.00,\"SBQQ__CustomerAmount__c\":0.00,\"SBQQ__PricebookId__c\":\"01s8N000002d0dzQAA\",\"SBQQ__ContractingMethod__c\":\"By
        Subscription End Date\",\"SBQQ__Unopened__c\":true,\"SBQQ__LineItemCount__c\":0,\"SBQQ__PaymentTerms__c\":\"Net
        30\",\"SBQQ__WatermarkShown__c\":false,\"SBQQ__Status__c\":\"Draft\",\"SBQQ__Primary__c\":true,\"SBQQ__LineItemsGrouped__c\":false,\"SBQQ__Opportunity2__c\":\"0068N000006QZEcQAO\",\"SBQQ__Account__r\":{\"attributes\":{\"type\":\"Account\",\"url\":\"/services/data/v59.0/sobjects/Account/0018N00000JbNP7QAN\"},\"Id\":\"0018N00000JbNP7QAN\",\"Name\":\"REST
        Account  2023-10-16 00:00:00 UTC\",\"SBQQ__RenewalModel__c\":\"Contract Based\",\"SBQQ__RenewalPricingMethod__c\":\"Same\"},\"SBQQ__Opportunity2__r\":{\"attributes\":{\"type\":\"Opportunity\",\"url\":\"/services/data/v59.0/sobjects/Opportunity/0068N000006QZEcQAO\"},\"Id\":\"0068N000006QZEcQAO\",\"SBQQ__PrimaryQuote__c\":\"a0z8N000000zBbhQAE\",\"AccountId\":\"0018N00000JbNP7QAN\"},\"SBQQ__CustomerDiscount__c\":null,\"SBQQ__MarkupRate__c\":null,\"SBQQ__PartnerDiscount__c\":null,\"SBQQ__EndDate__c\":null,\"SBQQ__MasterContract__c\":null,\"SBQQ__MasterEvergreenContract__c\":null,\"SBQQ__QuoteProcessId__c\":null,\"SBQQ__DistributorDiscount__c\":null,\"SBQQ__FirstSegmentTermEndDate__c\":null,\"SBQQ__GenerateContractedPrice__c\":null,\"SBQQ__BillingFrequency__c\":null,\"SBQQ__RenewalTerm__c\":null,\"SBQQ__RenewalUpliftRate__c\":null,\"SBQQ__OrderGroupID__c\":null,\"SBQQ__TargetCustomerAmount__c\":null,\"SBQQ__OrderBy__c\":null,\"SBQQ__ProrationDayOfMonth__c\":null},\"nextKey\":1,\"netTotal\":0.00,\"lineItems\":[],\"lineItemGroups\":[],\"isPartial\":false,\"hasMultiSegmentLines\":false,\"customerTotal\":0.00,\"channelDiscountsOffList\":false,\"calculationRequired\":false,\"applyPartnerDiscountFirst\":false,\"applyAdditionalDiscountLast\":false}"'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.ProductAPI.ProductLoader&uid=01t8N000003Df4iQAC
    body:
      encoding: UTF-8
      string: '{"context":"{\"pricebookId\":\"01s8N000002d0dzQAA\"}"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '"{\"record\":{\"attributes\":{\"type\":\"Product2\",\"url\":\"/services/data/v59.0/sobjects/Product2/01t8N000003Df4iQAC\"},\"Id\":\"01t8N000003Df4iQAC\",\"Name\":\"REST
        Product2  2023-10-16 00:00:00 UTC\",\"ProductCode\":\"EfxBsBKAsjaF0caCUQPWQYJ8h61G\",\"Description\":\"A
        great description\",\"SBQQ__SubscriptionPricing__c\":\"Fixed Price\",\"SBQQ__PriceEditable__c\":false,\"SBQQ__DefaultQuantity__c\":1.00000,\"SBQQ__QuantityEditable__c\":true,\"SBQQ__CostEditable__c\":false,\"SBQQ__NonDiscountable__c\":false,\"SBQQ__NonPartnerDiscountable__c\":false,\"SBQQ__SubscriptionTerm__c\":1,\"SBQQ__SubscriptionBase__c\":\"List\",\"SBQQ__PricingMethod__c\":\"List\",\"SBQQ__PricingMethodEditable__c\":false,\"SBQQ__OptionSelectionMethod__c\":\"Click\",\"SBQQ__Optional__c\":false,\"SBQQ__Taxable__c\":false,\"SBQQ__CustomConfigurationRequired__c\":false,\"SBQQ__Hidden__c\":false,\"SBQQ__ReconfigurationDisabled__c\":false,\"SBQQ__ExcludeFromOpportunity__c\":false,\"SBQQ__DescriptionLocked__c\":false,\"SBQQ__ExcludeFromMaintenance__c\":false,\"SBQQ__IncludeInMaintenance__c\":false,\"SBQQ__NewQuoteGroup__c\":false,\"SBQQ__SubscriptionType__c\":\"Renewable\",\"SBQQ__AssetConversion__c\":\"One
        per quote line\",\"SBQQ__BlockPricingField__c\":\"Quantity\",\"SBQQ__HasConfigurationAttributes__c\":false,\"SBQQ__HasConsumptionSchedule__c\":false,\"SBQQ__ExternallyConfigurable__c\":false,\"SBQQ__AssetAmendmentBehavior__c\":\"Default\",\"SBQQ__BillingFrequency__c\":\"Monthly\",\"PricebookEntries\":{\"totalSize\":1,\"done\":true,\"records\":[{\"attributes\":{\"type\":\"PricebookEntry\",\"url\":\"/services/data/v59.0/sobjects/PricebookEntry/01u8N000003e0GtQAI\"},\"Product2Id\":\"01t8N000003Df4iQAC\",\"Id\":\"01u8N000003e0GtQAI\",\"Pricebook2Id\":\"01s8N000002d0dzQAA\",\"UnitPrice\":120.00,\"IsActive\":true}]}},\"options\":[],\"features\":[],\"featureCategoryLabels\":{\"Software\":\"Software\",\"Hardware\":\"Hardware\"},\"featureCategories\":[],\"currencySymbol\":\"$\",\"constraints\":[],\"configurationAttributes\":[]}"'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteProductAdder
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z8N000000zBbhQAE\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE\"},\"Id\":\"a0z8N000000zBbhQAE\",\"Name\":\"Q-00245\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0018N00000JbNP7QAN\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\"[...]
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter?loader=SBQQ.QuoteAPI.QuoteCalculator
    body:
      encoding: UTF-8
      string: '{"context":"{\"quote\":{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z8N000000zBbhQAE\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/service[...]
- request:
    method: post
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/apexrest/SBQQ/ServiceRouter
    body:
      encoding: UTF-8
      string: '{"saver":"SBQQ.QuoteAPI.QuoteSaver","model":"{\"ui_original_record\":{\"cloneRecordIfNoCache\":true,\"cacheName\":\"LineEditor\",\"cacheId\":\"a0z8N000000zBbhQAE\",\"cachedOriginalRecordPath\":[\"quote\",\"ui_original_record\"]},\"record\":{\"attributes\":{\"type\":\"SBQQ__Quote__c\",\"url\":\"/services/data/v59.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE\"},\"Id\":\"a0z8N000000zBbhQAE\",\"Name\":\"Q-00245\",\"SBQQ__Type__c\":\"Quote\",\"SBQQ__Account__c\":\"0018N00000JbNP7QAN\",\"SBQQ__SubscriptionTerm__c\":12,\"SBQQ__ExpirationDate__c\[...]
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE
    body:
      encoding: UTF-8
      string: '{"SBQQ__Ordered__c":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=150/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v52.0/sobjects/SBQQ__Quote__c/a0z8N000000zBbhQAE/SBQQ__Orders__r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=162/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Order","url":"/services/data/v52.0/sobjects/Order/8018N00000032XnQAI"},"Id":"8018N00000032XnQAI","OwnerId":"0058N000004zYG5QAM","ContractId":null,"AccountId":"0018N00000JbNP7QAN","Pricebook2Id":"01s8N000002d0dzQAA","OriginalOrderId":null,"OpportunityId":"0068N000006QZEcQAO","EffectiveDate":"2023-10-16","EndDate":null,"IsReductionOrder":false,"Status":"Draft","Description":null,"CustomerAuthorizedById":null,"CustomerAuthorizedDate":null,"CompanyAuthorizedById":null,"CompanyAuthorizedDate":null,"Type":"New","BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Name":null,"PoDate":null,"PoNumber":null,"OrderReferenceNumber":null,"BillToContactId":null,"ShipToContactId":null,"ActivatedDate":null,"ActivatedById":null,"StatusCode":"Draft","OrderNumber":"00000298","TotalAmount":1440.0,"CreatedDate":"2023-10-16T16:42:41.000+0000","CreatedById":"0058N000004zYG5QAM","LastModifiedDate":"2023-10-16T16:42:41.000+0000","LastModifiedById":"0058N000004zYG5QAM","IsDeleted":false,"SystemModstamp":"2023-10-16T16:42:41.000+0000","LastViewedDate":null,"LastReferencedDate":null,"SBQQ__Contracted__c":false,"SBQQ__ContractingMethod__c":"By
        Subscription End Date","SBQQ__PaymentTerm__c":"Net 30","SBQQ__PriceCalcStatusMessage__c":null,"SBQQ__PriceCalcStatus__c":"Queued","SBQQ__Quote__c":"a0z8N000000zBbhQAE","SBQQ__RenewalTerm__c":null,"SBQQ__RenewalUpliftRate__c":null,"SBQQ__TaxAmount__c":0.0,"SBQQ__OrderBookings__c":1440.0,"Skip_Past_Initial_Invoices__c":false,"Stripe_ID__c":null,"Stripe_Invoice_Payment_Link__c":null,"Stripe_Revenue_Contract_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}]}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: patch
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8018N00000032XnQAI
    body:
      encoding: UTF-8
      string: '{"Status":"Activated"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=170/5000000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Order/8018N00000032XnQAI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=170/5000000
      Last-Modified:
      - Mon, 16 Oct 2023 16:42:42 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Order","url":"/services/data/v58.0/sobjects/Order/8018N00000032XnQAI"},"Id":"8018N00000032XnQAI","OwnerId":"0058N000004zYG5QAM","ContractId":null,"AccountId":"0018N00000JbNP7QAN","Pricebook2Id":"01s8N000002d0dzQAA","OriginalOrderId":null,"OpportunityId":"0068N000006QZEcQAO","EffectiveDate":"2023-10-16","EndDate":null,"IsReduc[...]
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/sobjects/Account/0018N00000JbNP7QAN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=162/5000000
      Etag:
      - '"gTI7lF2oYMlDxM+gTW1a62nzqxfxxihRqAygUNh9DPs=--gzip"'
      Last-Modified:
      - Mon, 16 Oct 2023 16:42:32 GMT
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"type":"Account","url":"/services/data/v58.0/sobjects/Account/0018N00000JbNP7QAN"},"Id":"0018N00000JbNP7QAN","IsDeleted":false,"MasterRecordId":null,"Name":"REST
        Account  2023-10-16 00:00:00 UTC","Type":null,"ParentId":null,"BillingStreet":null,"BillingCity":null,"BillingState":null,"BillingPostalCode":null,"BillingCountry":null,"BillingLatitude":null,"BillingLongitude":null,"BillingGeocodeAccuracy":null,"BillingAddress":null,"ShippingStreet":null,"ShippingCity":null,"ShippingState":null,"ShippingPostalCode":null,"ShippingCountry":null,"ShippingLatitude":null,"ShippingLongitude":null,"ShippingGeocodeAccuracy":null,"ShippingAddress":null,"Phone":null,"Fax":null,"AccountNumber":null,"Website":null,"PhotoUrl":"/services/images/photo/0018N00000JbNP7QAN","Sic":null,"Industry":null,"AnnualRevenue":null,"NumberOfEmployees":null,"Ownership":null,"TickerSymbol":null,"Description":null,"Rating":null,"Site":null,"OwnerId":"0058N000004zYG5QAM","CreatedDate":"2023-10-16T16:42:32.000+0000","CreatedById":"0058N000004zYG5QAM","LastModifiedDate":"2023-10-16T16:42:32.000+0000","LastModifiedById":"0058N000004zYG5QAM","SystemModstamp":"2023-10-16T16:42:32.000+0000","LastActivityDate":null,"LastViewedDate":"2023-10-16T16:42:32.000+0000","LastReferencedDate":"2023-10-16T16:42:32.000+0000","Jigsaw":null,"JigsawCompanyId":null,"CleanStatus":"Pending","AccountSource":null,"DunsNumber":null,"Tradestyle":null,"NaicsCode":null,"NaicsDesc":null,"YearStarted":null,"SicDesc":null,"DandbCompanyId":null,"OperatingHoursId":null,"CustomerPriority__c":null,"SLA__c":null,"Active__c":null,"NumberofLocations__c":null,"UpsellOpportunity__c":null,"SLASerialNumber__c":null,"SLAExpirationDate__c":null,"SBQQ__AssetQuantitiesCombined__c":false,"SBQQ__CoTermedContractsCombined__c":false,"SBQQ__ContractCoTermination__c":"Never","SBQQ__DefaultOpportunity__c":null,"SBQQ__IgnoreParentContractedPrices__c":false,"SBQQ__PreserveBundle__c":true,"SBQQ__PriceHoldEnd__c":null,"SBQQ__RenewalModel__c":"Contract
        Based","SBQQ__RenewalPricingMethod__c":"Same","SBQQ__TaxExempt__c":"No","SBQQ__CoTerminationEvent__c":null,"Stripe_ID__c":null,"Stripe_Dashboard_Link__c":"https://dashboard.stripe.com/test/id/"}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/STRIPE_MERCHANT_ID
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2020-08-27'
      Stripe-Account:
      - STRIPE_MERCHANT_ID
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_15uapDIsgf92XbAO
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "acct_15uapDIsgf92XbAO",
          "object": "account",
          "capabilities": {
            "acss_debit_payments": "active",
            "affirm_payments": "active",
            "afterpay_clearpay_payments": "active",
            "bancontact_payments": "active",
            "card_payments": "active",
            "cashapp_payments": "active",
            "eps_payments": "active",
            "giropay_payments": "active",
            "ideal_payments": "active",
            "klarna_payments": "active",
            "link_payments": "active",
            "p24_payments": "active",
            "sepa_debit_payments": "active",
            "sofort_payments": "active",
            "transfers": "active",
            "us_bank_account_ach_payments": "active"
          },
          "charges_enabled": true,
          "country": "US",
          "default_currency": "usd",
          "details_submitted": true,
          "future_requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "payouts_enabled": true,
          "requirements": {
            "alternatives": [],
            "current_deadline": null,
            "currently_due": [],
            "disabled_reason": null,
            "errors": [],
            "eventually_due": [],
            "past_due": [],
            "pending_verification": []
          },
          "settings": {
            "bacs_debit_payments": {},
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_issuing": {
              "tos_acceptance": {
                "date": null,
                "ip": null
              }
            },
            "card_payments": {
              "statement_descriptor_prefix": "STRIPE INT",
              "statement_descriptor_prefix_kana": null,
              "statement_descriptor_prefix_kanji": null
            },
            "dashboard": {
              "display_name": "StripeForce Demo Account ",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "SUITESYNC.IO",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "sepa_debit_payments": {}
          },
          "type": "standard"
        }
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://platform-page-3481-dev-ed.scratch.my.salesforce.com/services/data/v58.0/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=171/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":"/services/data/v58.0/metadata","eclair":"/services/data/v58.0/eclair","folders":"/services/data/v58.0/folders","jsonxform":"/services/data/v58.0/jsonxform","appMenu":"/services/data/v58.0/appMenu","iot":"/services/data/v58.0/iot","analytics":"/services/data/v58.0/analytics","smartdatadiscovery":"/services/data/v58.0/smartdatadiscovery","composite":"/services/data/v58.0/composite","parameterizedSearch":"/services/data/v58.0/parameterizedSearch","fingerprint":"/services/data/v58.0/fingerprint","domino":"/services/data/v58.0/domino","serviceTemplates":"/services/data/v58.0/serviceTemplates","recent":"/services/data/v58.0/recent","dedupe":"/services/data/v58.0/dedupe","async-queries":"/services/data/v58.0/async-queries","query":"/services/data/v58.0/query","ai":"/services/data/v58.0/ai","consent":"/services/data/v58.0/consent","compactLayouts":"/services/data/v58.0/compactLayouts","knowledgeManagement":"/services/data/v58.0/knowledgeManagement","actions":"/services/data/v58.0/actions","support":"/services/data/v58.0/support","tooling":"/services/data/v58.0/tooling","prechatForms":"/services/data/v58.0/prechatForms","contact-tracing":"/services/data/v58.0/contact-tracing","chatter":"/services/data/v58.0/chatter","payments":"/services/data/v58.0/payments","tabs":"/services/data/v58.0/tabs","quickActions":"/services/data/v58.0/quickActions","queryAll":"/services/data/v58.0/queryAll","commerce":"/services/data/v58.0/commerce","wave":"/services/data/v58.0/wave","search":"/services/data/v58.0/search","identity":"https://test.salesforce.com/id/00D8N000000sqiIUAQ/0058N000004zYG5QAM","theme":"/services/data/v58.0/theme","nouns":"/services/data/v58.0/nouns","event":"/services/data/v58.0/event","connect":"/services/data/v58.0/connect","licensing":"/services/data/v58.0/licensing","limits":"/services/data/v58.0/limits","process":"/services/data/v58.0/process","jobs":"/services/data/v58.0/jobs","match":"/services/data/v58.0/match","localizedvalue":"/services/data/v58.0/localizedvalue","mobile":"/services/data/v58.0/mobile","emailConnect":"/services/data/v58.0/emailConnect","tokenizer":"/services/data/v58.0/tokenizer","sobjects":"/services/data/v58.0/sobjects"}'
  recorded_at: Mon, 16 Oct 2023 00:00:00 GMT
- request:
    method: get
    uri: https://test.salesforce.com/id/00D8N000000sqiIUAQ/0058N000004zYG5QAM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"https://test.salesforce.com/id/00D8N000000sqiIUAQ/0058N000004zYG5QAM","asserted_user":true,"user_id":"0058N000004zYG5QAM","organization_id":"00D8N000000sqiIUAQ","username":"test-zq7ujbfacwdy@example.com","nick_name":"test-zq7ujbfacwdy","display_name":"User
[...]
